Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

feat: scope jest ignores
  libraries/faker-factory/jest.config.js
  libraries/faker-factory/jest.config.json
  libraries/messaging-schemas/jest.config.js
  libraries/messaging-schemas/jest.config.json
  libraries/nestjs-modules/jest.config.js
  libraries/nestjs-modules/jest.config.json
  libraries/validation-schemas/jest.config.js
  libraries/validation-schemas/jest.config.json
  platform/rigs/base-nodejs/profiles/construct/config/jest.config.json
  platform/rigs/base-nodejs/profiles/nestjs-app/jest.config.json
  platform/rigs/base-nodejs/profiles/platform-src-stack/jest.config.json
  platform/rigs/base-nodejs/profiles/platform-src/jest.config.json
  platform/rigs/base-nodejs/profiles/platform-stack/jest.config.json
  platform/rigs/base-nodejs/profiles/react-app/jest.config.json
Due: prettier --write

fix: inclusions exclusions cov
  platform/rigs/base-nodejs/profiles/nestjs-app/jest.config.json
  services/admin-client/jest.config.js
Due: prettier --write

feat: scope jest ignores (#496)
  libraries/faker-factory/jest.config.js
  libraries/faker-factory/jest.config.json
  libraries/messaging-schemas/jest.config.js
  libraries/messaging-schemas/jest.config.json
  libraries/nestjs-modules/jest.config.js
  libraries/nestjs-modules/jest.config.json
  libraries/validation-schemas/jest.config.js
  libraries/validation-schemas/jest.config.json
  platform/rigs/base-nodejs/profiles/construct/config/jest.config.json
  platform/rigs/base-nodejs/profiles/nestjs-app/jest.config.json
  platform/rigs/base-nodejs/profiles/platform-src-stack/jest.config.json
  platform/rigs/base-nodejs/profiles/platform-src/jest.config.json
  platform/rigs/base-nodejs/profiles/platform-stack/jest.config.json
  platform/rigs/base-nodejs/profiles/react-app/jest.config.json
  services/admin-client/jest.config.js
Due: prettier --write

feat: try github published packages
  .github/workflows/call-deploy.yml
Due: none

feat: try github published packages (#497)
  .github/workflows/call-deploy.yml
Due: none

fix: ci and wordsmith
  .github/workflows/call-deploy.yml
  README.md
  services/weather-control/openapi-spec.json
Due: prettier --write

feat: bugfix/ci pub (#498)
  .github/workflows/call-deploy.yml
  README.md
  services/weather-control/openapi-spec.json
Due: prettier --write

feat: add badges
  README.md
  platform/cli-tools/create-artifact/README.md
  platform/cli-tools/create-bundle/README.md
  platform/cli-tools/rush-coverage/README.md
  services/html-to-pdf/README.md
  services/jukebox/README.md
  services/luck-by-dice/README.md
  services/weather-control/README.md
Due: prettier --write

chore: bump versions
  platform/cli-tools/create-artifact/CHANGELOG.json
  platform/cli-tools/create-artifact/CHANGELOG.md
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/CHANGELOG.json
  platform/cli-tools/rush-coverage/CHANGELOG.md
  platform/cli-tools/rush-coverage/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

feat: badge readme (#499)
  README.md
  platform/cli-tools/create-artifact/CHANGELOG.json
  platform/cli-tools/create-artifact/CHANGELOG.md
  platform/cli-tools/create-artifact/README.md
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/README.md
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/CHANGELOG.json
  platform/cli-tools/rush-coverage/CHANGELOG.md
  platform/cli-tools/rush-coverage/README.md
  platform/cli-tools/rush-coverage/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
  services/jukebox/README.md
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/README.md
  services/luck-by-dice/package.json
  services/weather-control/README.md
Due: prettier --write

feat: flesh in message bus and data lake
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/messaging-schemas/src/base/base-event.dto.ts
  libraries/messaging-schemas/src/base/base-reply.dto.ts
  libraries/messaging-schemas/src/base/index.ts
  libraries/messaging-schemas/src/dto/commands/base-command.dto.ts
  libraries/messaging-schemas/src/dto/commands/email-send.command.ts
  libraries/messaging-schemas/src/dto/commands/index.ts
  libraries/messaging-schemas/src/dto/commands/item-destroy.command.ts
  libraries/messaging-schemas/src/dto/events/base-event.dto.ts
  libraries/messaging-schemas/src/dto/events/character-level-up.event.ts
  libraries/messaging-schemas/src/dto/events/index.ts
  libraries/messaging-schemas/src/dto/messages/base-message.dto.test.ts
  libraries/messaging-schemas/src/dto/messages/base-message.dto.ts
  libraries/messaging-schemas/src/dto/messages/index.ts
  libraries/messaging-schemas/src/dto/messages/pascalCase.test.ts
  libraries/messaging-schemas/src/dto/messages/pascalCase.ts
  libraries/messaging-schemas/src/dto/queries/base-reply.dto.ts
  libraries/messaging-schemas/src/dto/queries/base-response.dto.ts
  libraries/messaging-schemas/src/dto/queries/index.ts
  libraries/messaging-schemas/src/index.ts
  libraries/messaging-schemas/src/registry/class-registry.ts
  libraries/messaging-schemas/src/registry/index.ts
  libraries/messaging-schemas/src/registry/message-registry.ts
  platform/api-gateway/package.json
  platform/message-bus/.eslintrc.js
  platform/message-bus/LICENSE
  platform/message-bus/README.md
  platform/message-bus/bin/app.ts
  platform/message-bus/cdk.json
  platform/message-bus/jest.config.json
  platform/message-bus/package.json
  platform/message-bus/stacks/__snapshots__/message-bus.stack.test.ts.snap
  platform/message-bus/stacks/message-bus.stack.test.ts
  platform/message-bus/stacks/message-bus.stack.ts
  platform/message-bus/tsconfig.json
  platform/rigs/base-nodejs/profiles/construct/tsconfig-base.json
  rush.json
  services/email-service/stacks/email-service.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: readme update
  platform/message-bus/README.md
  platform/message-bus/stacks/message-bus.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: version bump
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  platform/cli-tools/create-artifact/CHANGELOG.json
  platform/cli-tools/create-artifact/CHANGELOG.md
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/CHANGELOG.json
  platform/cli-tools/rush-coverage/CHANGELOG.md
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/CHANGELOG.json
  platform/constructs/CHANGELOG.md
  platform/constructs/package.json
  platform/rigs/base-nodejs/CHANGELOG.json
  platform/rigs/base-nodejs/CHANGELOG.md
  platform/rigs/base-nodejs/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

fix: npm token missing
  .github/workflows/call-cdk-synth.yml
  .github/workflows/call-deploy.yml
Due: none

fix: npm token missing (#503)
  .github/workflows/call-cdk-synth.yml
  .github/workflows/call-deploy.yml
Due: none

feat: data lake
  README.md
  platform/constructs/src/queue/README.md
  platform/message-bus/README.md
  platform/message-bus/stacks/__snapshots__/message-bus.stack.test.ts.snap
  platform/message-bus/stacks/message-bus.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: readme syntax
  README.md
Due: prettier --write

feat: data lake (#504)
  README.md
  platform/constructs/src/queue/README.md
  platform/message-bus/README.md
  platform/message-bus/stacks/__snapshots__/message-bus.stack.test.ts.snap
  platform/message-bus/stacks/message-bus.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove admin client coverage
  services/admin-client/package.json
Due: prettier --write

feat: segrate test coverage by type
  .github/workflows/call-coverage.yml
  .github/workflows/call-test.yml
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  rush.json
  services/email-service/stacks/__snapshots__/email-service.stack.test.ts.snap
Due: prettier --write

chore: update shrink wrap
  common/config/rush/browser-approved-packages.json
Due: prettier --write

fix: remove admin client coverage (#505)
  .github/workflows/call-coverage.yml
  .github/workflows/call-test.yml
  common/config/rush/browser-approved-packages.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  rush.json
  services/admin-client/package.json
  services/email-service/stacks/__snapshots__/email-service.stack.test.ts.snap
Due: prettier --write

fix: enable admin client unit test coverage
  services/admin-client/package.json
Due: prettier --write

feat: add post merge script
  common/git-hooks/post-merge
Due: none

fix: admin client unit cov (#506)
  common/git-hooks/post-merge
  services/admin-client/package.json
Due: prettier --write

feat: message bus diagram
  docs/flow-chart-dark.drawio.svg
  docs/flow-chart-light.drawio.svg
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
Due: none

feat: add event drive
  README.md
Due: prettier --write

feat: msg bug diagram (#507)
  README.md
  docs/flow-chart-dark.drawio.svg
  docs/flow-chart-light.drawio.svg
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
Due: prettier --write

feat: decorate message dtos
  common/git-hooks/post-merge
  libraries/messaging-schemas/src/dto/commands/base-command.dto.ts
  libraries/messaging-schemas/src/dto/events/base-event.dto.ts
  libraries/messaging-schemas/src/dto/queries/base-reply.dto.ts
  libraries/messaging-schemas/src/dto/queries/base-request.dto.ts
  libraries/messaging-schemas/src/dto/queries/index.ts
  libraries/messaging-schemas/src/dto/responses/base-response.dto.ts
  libraries/messaging-schemas/src/dto/responses/index.ts
  libraries/messaging-schemas/src/index.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: decorate message dtos (#508)
  common/git-hooks/post-merge
  libraries/messaging-schemas/src/dto/commands/base-command.dto.ts
  libraries/messaging-schemas/src/dto/events/base-event.dto.ts
  libraries/messaging-schemas/src/dto/queries/base-reply.dto.ts
  libraries/messaging-schemas/src/dto/queries/base-request.dto.ts
  libraries/messaging-schemas/src/dto/queries/index.ts
  libraries/messaging-schemas/src/dto/responses/base-response.dto.ts
  libraries/messaging-schemas/src/dto/responses/index.ts
  libraries/messaging-schemas/src/index.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add message factory
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/messaging-schemas/README.md
  libraries/messaging-schemas/package.json
  libraries/messaging-schemas/src/dto/events/character-joined-party.event.ts
  libraries/messaging-schemas/src/dto/events/character-left-party.event.ts
  libraries/messaging-schemas/src/dto/events/character-level-up.event.ts
  libraries/messaging-schemas/src/dto/messages/base-message.dto.ts
  libraries/messaging-schemas/src/dto/queries/character-level-reply.dto.ts
  libraries/messaging-schemas/src/dto/queries/character-level-request.dto.ts
  libraries/messaging-schemas/src/dto/responses/base-response.dto.ts
  libraries/messaging-schemas/src/dto/responses/index.ts
  libraries/messaging-schemas/src/index.ts
  libraries/messaging-schemas/src/message-factory.test.ts
  libraries/messaging-schemas/src/message-factory.ts
  libraries/nestjs-modules/README.md
  libraries/nestjs-modules/src/sns/sns.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add message factory (#509)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/messaging-schemas/README.md
  libraries/messaging-schemas/package.json
  libraries/messaging-schemas/src/dto/events/character-joined-party.event.ts
  libraries/messaging-schemas/src/dto/events/character-left-party.event.ts
  libraries/messaging-schemas/src/dto/events/character-level-up.event.ts
  libraries/messaging-schemas/src/dto/messages/base-message.dto.ts
  libraries/messaging-schemas/src/dto/queries/character-level-reply.dto.ts
  libraries/messaging-schemas/src/dto/queries/character-level-request.dto.ts
  libraries/messaging-schemas/src/dto/responses/base-response.dto.ts
  libraries/messaging-schemas/src/dto/responses/index.ts
  libraries/messaging-schemas/src/index.ts
  libraries/messaging-schemas/src/message-factory.test.ts
  libraries/messaging-schemas/src/message-factory.ts
  libraries/nestjs-modules/README.md
  libraries/nestjs-modules/src/sns/sns.service.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove extranous .env dist
  services/instances/.env copy.dist
  services/instances/.env.dist
Due: none

chore(deps): update shrinkwrap
  commitlint.config.js
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

fix: flaky unit test
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add instance service (#510)
  commitlint.config.js
  common/changes/@cats-cradle/nestjs-modules/feature-add-message-factory_2023-11-08-05-00.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/instances/.env.dist
  services/instances/.eslintrc.js
  services/instances/README.md
  services/instances/bin/app.ts
  services/instances/cdk.json
  services/instances/jest-mongodb-config.js
  services/instances/jest.config.json
  services/instances/openapi-spec.json
  services/instances/package.json
  services/instances/src/app.module.ts
  services/instances/src/database.module.ts
  services/instances/src/index.ts
  services/instances/src/main.ts
  services/instances/src/models/instance.repository.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/health/health.controller.ts
  services/instances/src/module/health/health.e2e-spec.ts
  services/instances/src/module/health/health.module.ts
  services/instances/src/module/instances/create.dto.ts
  services/instances/src/module/instances/delete.dto.ts
  services/instances/src/module/instances/instance.controller.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/instances/src/module/instances/instance.module.ts
  services/instances/stacks/__snapshots__/instance.stack.test.ts.snap
  services/instances/stacks/instance.stack.test.ts
  services/instances/stacks/instance.stack.ts
  services/instances/tsconfig.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add get instance endpoints
  .vscode/launch.json
  libraries/faker-factory/.eslintrc.js
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/settings.type.ts
  libraries/nestjs-modules/.eslintrc.js
  libraries/nestjs-modules/src/index.ts
  libraries/nestjs-modules/src/utils/async-for-each.test.ts
  libraries/nestjs-modules/src/utils/async-for-each.ts
  libraries/nestjs-modules/src/utils/index.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.controller.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/instances/src/module/instances/query.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
