Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

fix: lint restore
  .lintstagedrc.json
Due: prettier --write

chore: bump changelog
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write

feat: add ignore null assert
  platform/rigs/eslint-config/package.json
  platform/rigs/eslint-config/profile/base.js
Due: prettier --write

feat: add ignore null assert (#734)
  platform/rigs/eslint-config/package.json
  platform/rigs/eslint-config/profile/base.js
Due: prettier --write

feat: update architecture guidelines
  docs/architecture-guidelines.md
Due: prettier --write

feat: update architecture guidelines (#736)
  docs/architecture-guidelines.md
Due: prettier --write

feat: rm tsdx, rollup, webpack switch to vite storybook
  .vscode/settings.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  pnpm-lock.yaml
  services/design-system/.eslintrc.js
  services/design-system/.storybook/main.ts
  services/design-system/.watchmanconfig
  services/design-system/package.json
  services/design-system/public/.gitkeep
  services/design-system/src/ApiClient.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/src/index.tsx
  services/design-system/stories/components/atoms/Checkbox.stories.tsx
  services/design-system/stories/components/atoms/ColorPallette.stories.tsx
  services/design-system/stories/components/atoms/Icons.stories.tsx
  services/design-system/stories/components/atoms/Link.stories.tsx
  services/design-system/stories/components/atoms/NonInteractiveLink.stories.tsx
  services/design-system/stories/components/atoms/Paper.stories.tsx
  services/design-system/stories/components/atoms/Typography.stories.tsx
  services/design-system/stories/components/molecules/Alert.stories.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
  services/design-system/stories/components/molecules/Chart.stories.tsx
  services/design-system/stories/components/molecules/CodeSnippet.stories.tsx
  services/design-system/stories/components/molecules/FileUpload.stories.tsx
  services/design-system/stories/components/molecules/Layout.stories.tsx
  services/design-system/stories/components/molecules/LoadingButton.stories.tsx
  services/design-system/stories/components/molecules/Spinner.stories.tsx
  services/design-system/stories/components/molecules/Textfield.stories.tsx
  services/design-system/stories/pages/Homepage.stories.tsx
  services/design-system/stories/pages/organisms/ApiClient.stories.tsx
  services/design-system/storybook-static/.gitkeep
  services/design-system/tsconfig.json
  services/design-system/tsdx.config.js
  services/design-system/vite.config.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump deps
  common/changes/@cats-cradle/eslint-config/feature-populate-uuid_2023-12-04-12-20.json
  platform/rigs/eslint-config/CHANGELOG.json
  platform/rigs/eslint-config/CHANGELOG.md
  platform/rigs/eslint-config/package.json
  services/design-system/CHANGELOG.json
  services/design-system/CHANGELOG.md
  services/design-system/package.json
Due: prettier --write

fix: build regression
  services/design-system/.storybook/main.ts
  services/design-system/package.json
  services/design-system/src/Mui/Typography.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/tsconfig.json
Due: prettier --write, eslint --format visualstudio--fix

chore: bump shrinkwrap
  common/changes/@cats-cradle/design-system/feature-storybook-vite_2023-12-05-06-38.json
  common/changes/@cats-cradle/eslint-config/feature-storybook-vite_2023-12-05-06-38.json
Due: prettier --write

fix: abq export issue
  services/admin-client/components/Layout.tsx
  services/design-system/src/Mui/index.tsx
Due: none

fix: cdk synth design system regressio nbug
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/design-system/package.json
Due: prettier --write

feat: update architecture guidelines
  common/changes/@cats-cradle/design-system/bugfix-fix-cdk-synth-regression-bug_2023-12-05-23-49.json
Due: prettier --write

Bugfix/fix cdk synth regression bug (#739)
  common/changes/@cats-cradle/design-system/bugfix-fix-cdk-synth-regression-bug_2023-12-05-23-49.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/design-system/package.json
Due: prettier --write

feat: add cloudformation diagrams and fixes
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/README.md
  services/authentication-service/README.md
  services/authentication-service/package.json
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/tree-designer.png
  services/character-sheet/README.md
  services/character-sheet/tree-designer.png
  services/design-system/README.md
  services/design-system/cdk.json
  services/design-system/package.json
  services/design-system/tree-designer.png
  services/email-service/README.md
  services/email-service/tree-designer.png
  services/html-to-pdf/README.md
  services/html-to-pdf/tree-designer.png
  services/jukebox/README.md
  services/jukebox/tree-designer.png
  services/luck-by-dice/README.md
  services/luck-by-dice/tree-designer.png
  services/player-achievements/README.md
  services/player-achievements/tree-designer.png
  services/weather-control/README.md
  services/weather-control/tree-designer.png
Due: prettier --write, eslint --format visualstudio--fix

fix: mismatched aws sdk versions
  common/config/rush/browser-approved-packages.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/nestjs-modules/package.json
  services/authentication-service/package.json
Due: prettier --write

chore: bump verisons
  common/changes/@cats-cradle/authentication-service/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/design-system/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/email-service/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/html-to-pdf/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/luck-by-dice/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/nestjs-modules/feature-diagram-and-fixes_2023-12-06-04-57.json
Due: prettier --write

fix: switch to update rush in ci
  .github/workflows/call-codegen.yml
Due: none

feat: add cloudformation diagrams and fixes (#741)
  .github/workflows/call-codegen.yml
  common/changes/@cats-cradle/authentication-service/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/design-system/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/email-service/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/html-to-pdf/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/luck-by-dice/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/changes/@cats-cradle/nestjs-modules/feature-diagram-and-fixes_2023-12-06-04-57.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/common-versions.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/nestjs-modules/package.json
  services/admin-client/README.md
  services/authentication-service/README.md
  services/authentication-service/package.json
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/tree-designer.png
  services/character-sheet/README.md
  services/character-sheet/tree-designer.png
  services/design-system/README.md
  services/design-system/cdk.json
  services/design-system/package.json
  services/design-system/tree-designer.png
  services/email-service/README.md
  services/email-service/tree-designer.png
  services/html-to-pdf/README.md
  services/html-to-pdf/tree-designer.png
  services/jukebox/README.md
  services/jukebox/tree-designer.png
  services/luck-by-dice/README.md
  services/luck-by-dice/tree-designer.png
  services/player-achievements/README.md
  services/player-achievements/tree-designer.png
  services/weather-control/README.md
  services/weather-control/tree-designer.png
Due: prettier --write, eslint --format visualstudio--fix

fix: design system synth
  services/design-system/cdk.json
  services/design-system/package.json
Due: prettier --write

fix: design system synth (#742)
  services/design-system/cdk.json
  services/design-system/package.json
Due: prettier --write

feat: app bar design system
  services/design-system/package.json
  services/design-system/src/Mui/AppBar.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/stories/components/molecules/AppBar.stories.tsx
Due: prettier --write

feat: app bar design system (#743)
  services/design-system/package.json
  services/design-system/src/Mui/AppBar.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/stories/components/molecules/AppBar.stories.tsx
Due: prettier --write

feat: add footer to design
  services/character-sheet/openapi-spec.json
  services/design-system/src/PageFooter/PageFooter.tsx
  services/design-system/src/index.tsx
  services/design-system/stories/components/organisms/PageFooter.stories.tsx
  services/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write

feat: app bar design system (#744)
  services/character-sheet/openapi-spec.json
  services/design-system/src/PageFooter/PageFooter.tsx
  services/design-system/src/index.tsx
  services/design-system/stories/components/organisms/PageFooter.stories.tsx
  services/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write

feat: flesh in color pallete
  services/design-system/.eslintrc.js
  services/design-system/src/ColorPallete/color-pallete.scss
  services/design-system/src/ColorPallete/index.tsx
  services/design-system/src/Mui/Layout.tsx
  services/design-system/src/Mui/Paper.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/src/PageFooter/PageFooter.tsx
  services/design-system/src/PageFooter/page-footer.scss
  services/design-system/src/index.tsx
  services/design-system/stories/components/atoms/ColorPallette.stories.tsx
Due: none

feat: flesh in color pallete
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/scripts/git-scm/branch-naming-policy.sh
Due: prettier --write

fix: color pallette type-o
  services/design-system/src/ColorPallete/color-pallette.scss
  services/design-system/src/ColorPallete/index.tsx
Due: none

wip: saving progress
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/package.json
  services/design-system/.eslintrc.cjs
  services/design-system/.storybook/main.ts
  services/design-system/package.json
  services/design-system/src/ColorPallete/index.tsx
  services/design-system/vite.config.ts
  services/developer-portal/README.md
Due: prettier --write, eslint --format visualstudio--fix

fix: build issue
  services/design-system/src/Mui/Layout.tsx
  services/design-system/vite.config.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: cdk deploy of storybook
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/cdk.json
  services/design-system/.gitignore
  services/design-system/.storybook/main.d.ts
  services/design-system/.storybook/main.js
  services/design-system/.storybook/preview-head.html
  services/design-system/README.md
  services/design-system/bin/app.js
  services/design-system/cdk.json
  services/design-system/package.json
  services/design-system/public/index.html
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/components/AppBar/style.module.scss
  services/design-system/src/components/ColorPallette/color-pallette.scss
  services/design-system/src/components/ColorPallette/index.tsx
  services/design-system/src/components/Mui/AppBar.tsx
  services/design-system/src/components/Mui/index.tsx
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/main.ts
  services/design-system/stacks/design-system.stack.ts
  services/design-system/stories/components/molecules/AppBar.stories.tsx
  services/design-system/storybook-static/.gitkeep
  services/design-system/tsconfig-build.json
  services/design-system/tsconfig.json
  services/design-system/tsconfig.node.json
  services/design-system/vite.config.ts
  services/developer-portal/README.md
Due: prettier --write, eslint --format visualstudio--fix

fix: disable admin-client tests
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/package.json
  services/design-system/bin/app.js
Due: prettier --write

chore: update shrinkwrap
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write
