Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

feat(client): support HTML tags in heading and lead props
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/package.json
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/stories/components/atoms/Icons.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat(client): support HTML tags in heading and lead props (#840)
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/package.json
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/stories/components/atoms/Icons.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat: adjust colors
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/styles/utils/_bg-color.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: adjust colors (#842)
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/styles/utils/_bg-color.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: flesh in call out
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/index.scss
Due: none

feat: flesh in call out (#843)
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/index.scss
Due: none

feat: flesh in topic front
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/stories/pages/TopicFront.stories.tsx
Due: none

feat: flesh in topic front (#844)
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/stories/pages/TopicFront.stories.tsx
Due: none

feat: update readme
  README.md
Due: prettier --write

feat: update dependencies update axios update create-bundle
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/api-client-character-sheet/package.json
  libraries/api-client-email-service/package.json
  libraries/api-client-luck-by-dice/package.json
  middleware/api/package.json
  middleware/graphql/package.json
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/message-bus/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/luck-by-dice/package.json
  services/user-service/package.json
Due: prettier --write

feat: flesh in mid section
  README.md
  clients/admin-client/public/assets/diamonds.jpg
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/public/sample.jpg
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Images/Images.tsx
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/Card.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: move breadcrumb to page level
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/routing/Router.tsx
Due: none

feat: add blurbs
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/components/SignupForm.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/pages/signup.page.tsx
  clients/design-system/src/components/Blurb/Blurb.tsx
  clients/design-system/src/components/Blurb/style.module.scss
  clients/design-system/src/components/Images/Images.tsx
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/Blurb.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: split guidelines
  .devcontainer/README.md
  README.md
  clients/README.md
  common/git-hooks/README.md
  docs/architecture-guidelines.md
  docs/index.md
  platform/aws-org-formation/README.md
  platform/constructs/README.md
  platform/message-bus/README.md
  pnpm-workspace.yaml
  services/README.md
Due: prettier --write

feat: split guidelines (#850)
  .devcontainer/README.md
  README.md
  clients/README.md
  common/git-hooks/README.md
  docs/architecture-guidelines.md
  docs/index.md
  platform/aws-org-formation/README.md
  platform/constructs/README.md
  platform/message-bus/README.md
  pnpm-workspace.yaml
  services/README.md
Due: prettier --write

chore: reorder readme
  README.md
  clients/README.md
  services/README.md
Due: prettier --write

chore: reorder readme (#851)
  README.md
  clients/README.md
  services/README.md
Due: prettier --write

feat: readme heading update
  README.md
  platform/README.md
Due: prettier --write

Feature/readme h (#852)
  README.md
  platform/README.md
Due: prettier --write

feat: clear up docs
  README.md
  docs/CODING_STANDARDS.md
  docs/index.md
Due: prettier --write

feat: clear up docs (#853)
  README.md
  docs/CODING_STANDARDS.md
  docs/index.md
Due: prettier --write

feat: add footnote
  README.md
Due: prettier --write

feat: add footnote (#854)
  README.md
Due: prettier --write

feat: add citation
  README.md
Due: prettier --write

feat: add citation (#855)
  README.md
Due: prettier --write

chore: improve readme
  README.md
Due: prettier --write

Feature/readme1000 (#856)
  README.md
Due: prettier --write

feat: update deps
  README.md
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  middleware/api/package.json
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/graphql/package.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/message-bus/package.json
  platform/pipeline/package.json
  platform/rigs/base-nodejs/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
Due: prettier --write

feat: update tests
  README.md
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
Due: prettier --write

fix: grammar in readme
  README.md
Due: prettier --write

feat: update tests (#858)
  README.md
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
Due: prettier --write

feat: improve hero
  README.md
  clients/admin-client/src/components/Breadcrumbs.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Hero/style.module.scss
Due: prettier --write

feat: add anti cats
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/stories/components/molecules/Hero.stories.tsx
  services/character-sheet/src/data/affiliations.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add anti cats (#860)
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/stories/components/molecules/Hero.stories.tsx
  services/character-sheet/src/data/affiliations.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: clarify cloud agnostic rational
  README.md
  services/README.md
Due: prettier --write

feat: clarify cloud agnostic rational (#861)
  README.md
  services/README.md
Due: prettier --write

feat: clarify readme deployments
  README.md
Due: prettier --write

feat: clarify readme deployments (#862)
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
