Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: update top menu
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
Due: none

Update architecture-guidelines.md
  docs/architecture-guidelines.md
Due: prettier --write

feat: redirect request on design system cloudfront
  clients/design-system/bin/app.ts
  clients/design-system/stacks/design-system.stack.ts
  clients/design-system/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: redirect request on design system cloudfront (#819)
  clients/design-system/bin/app.ts
  clients/design-system/stacks/design-system.stack.ts
  clients/design-system/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: fix client to middleware
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/stacks/admin-client.stack.ts
  middleware/api/src/modules/router/router.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: intergrate client with middleware for character sheets and dice (#820)
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/stacks/admin-client.stack.ts
  middleware/api/src/modules/router/router.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: update top menu (#818)
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
Due: none

feat: flesh in paper elevations
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Icons/Icons.ts
  clients/design-system/src/components/Paper/Paper.tsx
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/atoms/Icons.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

fix: 404 cfd
  clients/admin-client/stacks/admin-client.stack.ts
  clients/design-system/stacks/main.stack.ts
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
  services/character-sheet/src/data/gear/accessory.gear.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: cfdb 404 (#821)
  clients/admin-client/stacks/admin-client.stack.ts
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Icons/Icons.ts
  clients/design-system/src/components/Paper/Paper.tsx
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stacks/main.stack.ts
  clients/design-system/stories/components/atoms/Icons.stories.tsx
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
  services/character-sheet/src/data/gear/accessory.gear.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in hero
  clients/admin-client/public/assets/clouds.jpg
  clients/admin-client/public/assets/diamonds.jpg
  clients/admin-client/src/components/Breadcrumbs.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/pages/login.page.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/Icons/Icons.ts
  clients/design-system/src/components/Paper/Paper.tsx
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/stories/components/atoms/Icons.stories.tsx
  clients/design-system/stories/components/molecules/Hero.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in hero (#822)
  clients/admin-client/public/assets/clouds.jpg
  clients/admin-client/public/assets/diamonds.jpg
  clients/admin-client/src/components/Breadcrumbs.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/pages/login.page.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/Icons/Icons.ts
  clients/design-system/src/components/Paper/Paper.tsx
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/stories/components/atoms/Icons.stories.tsx
  clients/design-system/stories/components/molecules/Hero.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

fix: design system linting issues
  README.md
  clients/design-system/src/components/Button/Button.tsx
  clients/design-system/src/components/Button/Button.type.ts
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Typography/Typography.tsx
  clients/design-system/src/components/Typography/Typography.type.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: design system linting issues (#823)
  README.md
  clients/design-system/src/components/Button/Button.tsx
  clients/design-system/src/components/Button/Button.type.ts
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Typography/Typography.tsx
  clients/design-system/src/components/Typography/Typography.type.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add auth endpoint
  clients/developer-portal/README.md
  clients/developer-portal/src/combine-specs.md
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  services/authentication-service/.env.dist
  services/authentication-service/openapi-spec.json
  services/authentication-service/package.json
  services/authentication-service/src/main.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/authentication-service/stacks/auth-service.stack.ts
  services/authentication-service/stacks/cognito-pool.ts
  services/instances/README.md
Due: prettier --write, eslint --format visualstudio--fix

feat: add auth endpoint (#824)
  clients/developer-portal/README.md
  clients/developer-portal/src/combine-specs.md
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  services/authentication-service/.env.dist
  services/authentication-service/openapi-spec.json
  services/authentication-service/package.json
  services/authentication-service/src/main.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/authentication-service/stacks/auth-service.stack.ts
  services/authentication-service/stacks/cognito-pool.ts
  services/instances/README.md
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in sign up and auth
  services/authentication-service/openapi-spec.json
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/login-dto.ts
  services/authentication-service/src/modules/auth/sign-up-dto.ts
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/authentication-service/stacks/auth-service.stack.ts
  services/authentication-service/stacks/cognito-pool.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in sign up and auth (#827)
  services/authentication-service/openapi-spec.json
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/login-dto.ts
  services/authentication-service/src/modules/auth/sign-up-dto.ts
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/authentication-service/stacks/auth-service.stack.ts
  services/authentication-service/stacks/cognito-pool.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: confirm sign up
  services/authentication-service/openapi-spec.json
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/confirm-sign-up.dto.ts
  services/authentication-service/src/modules/auth/forgot-password.dto.ts
  services/authentication-service/src/modules/auth/login.dto.ts
  services/authentication-service/src/modules/auth/reset-password.dto.ts
  services/authentication-service/src/modules/auth/sign-up.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: confirm sign up (#828)
  services/authentication-service/openapi-spec.json
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/confirm-sign-up.dto.ts
  services/authentication-service/src/modules/auth/forgot-password.dto.ts
  services/authentication-service/src/modules/auth/login.dto.ts
  services/authentication-service/src/modules/auth/reset-password.dto.ts
  services/authentication-service/src/modules/auth/sign-up.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add signup page
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/pages/signup.page.tsx
  clients/admin-client/src/routing/Router.tsx
  clients/design-system/src/styles/utils/_bg-color.scss
  commitlint.config.js
  middleware/api/src/modules/router/router.service.ts
  middleware/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: confirm sign up (#829)
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/pages/signup.page.tsx
  clients/admin-client/src/routing/Router.tsx
  clients/design-system/src/styles/utils/_bg-color.scss
  commitlint.config.js
  middleware/api/src/modules/router/router.service.ts
  middleware/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: segament dice notation page
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/pages/dice.page.tsx
Due: none

feat: segament dice notation page (#830)
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/pages/dice.page.tsx
Due: none

feat: flesh in signup form
  clients/admin-client/src/components/SignupForm.tsx
  clients/admin-client/src/pages/signup.page.tsx
Due: none

feat: flesh in signup form (#831)
  clients/admin-client/src/components/SignupForm.tsx
  clients/admin-client/src/pages/signup.page.tsx
Due: none

fix: type on route return
  middleware/api/src/modules/router/router.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: show url routes by default on api
  middleware/api/.env.dist
  middleware/api/openapi-spec.json
  middleware/api/src/modules/router/route-url.dto.ts
  middleware/api/src/modules/router/router.controller.ts
  middleware/api/src/modules/router/router.service.ts
  middleware/api/src/modules/router/routes.config.ts
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: user service auth (#835)
  middleware/api/.env.dist
  middleware/api/openapi-spec.json
  middleware/api/src/modules/router/route-url.dto.ts
  middleware/api/src/modules/router/router.controller.ts
  middleware/api/src/modules/router/router.service.ts
  middleware/api/src/modules/router/routes.config.ts
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: upgrade cdk
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  middleware/api/package.json
  middleware/graphql/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
Due: prettier --write

feat: update snaps
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/pipeline/stacks/__snapshots__/default-pipeline.stack.test.ts.snap
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
Due: none

feat: upgrade cdk (#837)
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  middleware/api/package.json
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/graphql/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/message-bus/package.json
  platform/pipeline/package.json
  platform/pipeline/stacks/__snapshots__/default-pipeline.stack.test.ts.snap
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
Due: prettier --write

feat: signup improvements
  .github/workflows/call-cdk-synth.yml
  Dockerfile
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/pages/home.page.tsx
  platform/constructs/src/nestjs/nestjs.ts
  services/user-service/src/modules/auth/auth.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: signup improvements (#838)
  .github/workflows/call-cdk-synth.yml
  Dockerfile
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/pages/home.page.tsx
  platform/constructs/src/nestjs/nestjs.ts
  services/user-service/src/modules/auth/auth.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

feat(client): add user creation functionality
  services/user-service/src/modules/auth/cognito.service.ts
  services/user-service/stacks/cognito-pool.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: update snapshot
  services/user-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
Due: none

feat(client): add user creation functionality (#839)
  services/user-service/src/modules/auth/cognito.service.ts
  services/user-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/user-service/stacks/cognito-pool.ts
Due: prettier --write, eslint --format visualstudio--fix
