Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: update unit test
  README.md
  services/dynamo-image/stacks/__snapshots__/character-sheet.stack.test.ts.snap
Due: prettier --write

fix: remove extra import
  clients/admin-client/src/context/AppProvider.tsx
  services/dynamo-image/README.md
Due: prettier --write

feat: improve character sheet data
  services/character-sheet/src/data/attribute.ts
  services/character-sheet/src/data/discipline.ts
  services/character-sheet/src/data/skill/basic.skill.ts
  services/character-sheet/src/data/skill/interaction.skill.ts
  services/character-sheet/src/data/skill/passive.skill.ts
  services/character-sheet/src/data/skill/spell.skill.ts
  services/character-sheet/src/data/skill/summon.skill.ts
  services/character-sheet/src/data/skill/teamwork.skill.ts
  services/character-sheet/src/data/skill/tool.skill.ts
  services/character-sheet/src/data/skill/trap.skill.ts
  services/character-sheet/src/data/skill/weapon.skill.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: improve character sheet data (#899)
  services/character-sheet/src/data/attribute.ts
  services/character-sheet/src/data/discipline.ts
  services/character-sheet/src/data/skill/basic.skill.ts
  services/character-sheet/src/data/skill/interaction.skill.ts
  services/character-sheet/src/data/skill/passive.skill.ts
  services/character-sheet/src/data/skill/spell.skill.ts
  services/character-sheet/src/data/skill/summon.skill.ts
  services/character-sheet/src/data/skill/teamwork.skill.ts
  services/character-sheet/src/data/skill/tool.skill.ts
  services/character-sheet/src/data/skill/trap.skill.ts
  services/character-sheet/src/data/skill/weapon.skill.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add action effect
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/character-sheet/package.json
  services/character-sheet/src/data/attribute.ts
  services/character-sheet/src/data/skill/drive.skill.ts
  services/character-sheet/src/data/skill/passive.skill.ts
  services/character-sheet/src/data/status-effect.ts
  services/character-sheet/src/data/table.effect.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: aoe maps
  services/character-sheet/src/data/aoe-maps.ts
  services/character-sheet/src/data/target.effect.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: aoe maps (#902)
  services/character-sheet/src/data/aoe-maps.ts
  services/character-sheet/src/data/target.effect.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add action costs
  services/character-sheet/src/data/action-cost.ts
  services/character-sheet/src/data/action-target.ts
  services/character-sheet/src/data/area-of-effect.ts
  services/character-sheet/src/data/skill-level.ts
  services/character-sheet/src/data/skill/drive.skill.ts
  services/character-sheet/src/data/skill/interaction.skill.ts
  services/character-sheet/src/data/table.effect.ts
  services/character-sheet/src/data/target.effect.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add action costs (#903)
  services/character-sheet/src/data/action-cost.ts
  services/character-sheet/src/data/action-target.ts
  services/character-sheet/src/data/area-of-effect.ts
  services/character-sheet/src/data/skill-level.ts
  services/character-sheet/src/data/skill/drive.skill.ts
  services/character-sheet/src/data/skill/interaction.skill.ts
  services/character-sheet/src/data/table.effect.ts
  services/character-sheet/src/data/target.effect.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add m3 support
  Dockerfile
Due: none

feat: remove rush references
  .github/workflows/call-test.yml
  .github/workflows/on-merge.yml
  .vscode/settings.json
  tools/aws-sso/.aws/config
  tools/coverage-fusion/README.md
  tools/create-artifact/README.md
Due: prettier --write

fix: remove .rush temp files
  README.md
  clients/admin-client/.rush/temp/shrinkwrap-deps.json
  clients/design-system/.rush/temp/shrinkwrap-deps.json
  clients/jukebox/.rush/temp/shrinkwrap-deps.json
  libraries/faker-factory/.rush/temp/shrinkwrap-deps.json
  libraries/messaging-schemas/.rush/temp/shrinkwrap-deps.json
  libraries/nestjs-modules/.rush/temp/shrinkwrap-deps.json
  libraries/promare-gradients/.rush/temp/shrinkwrap-deps.json
  libraries/pseudo-random/.rush/temp/shrinkwrap-deps.json
  libraries/validation-schemas/.rush/temp/shrinkwrap-deps.json
  middleware/api/.rush/temp/shrinkwrap-deps.json
  middleware/graphql/.rush/temp/shrinkwrap-deps.json
  platform/aws-org-formation/.rush/temp/shrinkwrap-deps.json
  platform/constructs/.rush/temp/shrinkwrap-deps.json
  platform/lambda-layers/.rush/temp/shrinkwrap-deps.json
  platform/message-bus/.rush/temp/shrinkwrap-deps.json
  platform/pipeline/.rush/temp/shrinkwrap-deps.json
  platform/rigs/eslint-config/.rush/temp/shrinkwrap-deps.json
  services/billing-system/.rush/temp/shrinkwrap-deps.json
  services/character-sheet/.rush/temp/shrinkwrap-deps.json
  services/dialogue-service/.rush/temp/shrinkwrap-deps.json
  services/dynamo-image/.rush/temp/shrinkwrap-deps.json
  services/email-service/.rush/temp/shrinkwrap-deps.json
  services/html-to-pdf/.rush/temp/shrinkwrap-deps.json
  services/instances/.rush/temp/shrinkwrap-deps.json
  services/luck-by-dice/.rush/temp/shrinkwrap-deps.json
  services/player-achievements/.rush/temp/shrinkwrap-deps.json
  services/user-service/.rush/temp/shrinkwrap-deps.json
  services/weather-control/.rush/temp/shrinkwrap-deps.json
  tools/aws-sso/.rush/temp/shrinkwrap-deps.json
  tools/coverage-fusion/.rush/temp/shrinkwrap-deps.json
  tools/create-artifact/.rush/temp/shrinkwrap-deps.json
  tools/create-bundle/.rush/temp/shrinkwrap-deps.json
  tools/git-scm/rm-logs.sh
  tools/hydrate-dotenvs/.rush/temp/shrinkwrap-deps.json
Due: prettier --write

feat: update call deploy
  .github/workflows/call-deploy.yml
Due: none

feat: update lockfile
  pnpm-lock.yaml
Due: none

feat: update ci workloads
  .github/workflows/call-deploy.yml
  .github/workflows/on-pull-request.yml
Due: none

feat: change select packages to milky-way
  README.md
  platform/aws-org-formation/package.json
  platform/rigs/base-nodejs/CHANGELOG.json
  platform/rigs/base-nodejs/CHANGELOG.md
  platform/rigs/base-nodejs/README.md
  platform/rigs/base-nodejs/package.json
  platform/rigs/eslint-config/CHANGELOG.json
  platform/rigs/eslint-config/CHANGELOG.md
  platform/rigs/eslint-config/README.md
  platform/rigs/eslint-config/package.json
Due: prettier --write

feat: bump versions
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/promare-gradients/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  middleware/api/package.json
  middleware/graphql/package.json
  platform/aws-org-formation/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  platform/rigs/base-nodejs/package.json
  platform/rigs/eslint-config/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/dialogue-service/package.json
  services/dynamo-image/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
  tools/aws-sso/package.json
  tools/coverage-fusion/package.json
  tools/create-artifact/package.json
  tools/create-bundle/package.json
  tools/hydrate-dotenvs/package.json
Due: prettier --write

feat: bump versions
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/promare-gradients/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  middleware/api/package.json
  middleware/graphql/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  pnpm-lock.yaml
  services/billing-system/package.json
  services/character-sheet/package.json
  services/dialogue-service/package.json
  services/dynamo-image/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
  tools/aws-sso/package.json
  tools/coverage-fusion/package.json
  tools/create-artifact/package.json
  tools/create-artifact/src/__tests__/test-data/package-output.json
  tools/create-bundle/package.json
  tools/hydrate-dotenvs/package.json
Due: prettier --write

feat: change from milky-way to galaxyops
  .vscode/settings.json
  README.md
  package.json
  platform/aws-org-formation/package.json
  platform/rigs/base-nodejs/CHANGELOG.json
  platform/rigs/base-nodejs/CHANGELOG.md
  platform/rigs/base-nodejs/README.md
  platform/rigs/base-nodejs/package.json
  platform/rigs/eslint-config/CHANGELOG.json
  platform/rigs/eslint-config/CHANGELOG.md
  platform/rigs/eslint-config/README.md
  platform/rigs/eslint-config/package.json
  tools/aws-sso/package.json
Due: prettier --write

feat: update deploy
  .github/workflows/call-deploy.yml
  .github/workflows/call-test.yml
  tools/create-artifact/src/__tests__/test-data/package-output.json
Due: prettier --write

feat: update test ci
  .github/workflows/call-coverage.yml
  .github/workflows/call-test.yml
Due: none

feat: remove test cov from unsupported pkgs
  clients/admin-client/package.json
  middleware/graphql/package.json
  services/billing-system/package.json
Due: prettier --write

feat: update badges for galaxyops
  README.md
Due: prettier --write

fix: coverage report ci
  .github/workflows/call-coverage.yml
  pnpm-lock.yaml
  tools/coverage-fusion/package.json
  tools/coverage-fusion/src/find-files-recursively.ts
  tools/coverage-fusion/src/get-coverage-reports.ts
  tools/coverage-fusion/src/index.ts
  tools/coverage-fusion/src/make-coverage-reports.ts
  tools/coverage-fusion/src/merge-coverage-reports.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: fix linting issue
  clients/design-system/src/components/Card/BasicCard.tsx
  tools/coverage-fusion/src/index.ts
  tools/coverage-fusion/src/merge-coverage-reports.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: pnpm publish
  .github/workflows/call-deploy.yml
Due: none

feat: no git check publish
  .github/workflows/call-deploy.yml
Due: none

feat: add auth token
  .github/workflows/call-deploy.yml
Due: none

feat: call deploy
  .github/workflows/call-deploy.yml
Due: none

feat: make border mimic playing card
  clients/design-system/src/components/Card/BasicCard.test.tsx
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/CardRibbonColor.type.ts
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
Due: prettier --write, eslint --format visualstudio--fix

feat: enable linting local
  .lintstagedrc.json
  clients/design-system/src/components/Card/style.module.scss
  platform/lambda-layers/stacks/nestjs-layer.stack.test.ts
  tools/aws-sso/src/copy-recursive-sync.test.ts
  tools/aws-sso/src/copy-recursive-sync.ts
  tools/aws-sso/src/index.ts
  tools/coverage-fusion/src/find-files-recursively.test.ts
  tools/coverage-fusion/src/find-files-recursively.ts
  tools/coverage-fusion/src/get-coverage-reports.test.ts
  tools/hydrate-dotenvs/src/hydrate-bin.ts
  tools/hydrate-dotenvs/src/index.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add spacer
  clients/design-system/src/components/Spacer/Spacer.tsx
  clients/design-system/src/components/index.ts
  nx.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add unit test
  clients/design-system/src/components/Spacer/Spacer.test.tsx
Due: none

feat: update colors
  clients/admin-client/index.html
  clients/admin-client/public/assets/shield-sword.png
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/.storybook/preview-head.html
  clients/design-system/public/bg-pale-orange.jpg
  clients/design-system/public/shield-sword-full.png
  clients/design-system/public/shield-sword.png
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/BlurbPair/BlurbPair.tsx
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/Login/Login.tsx
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/styles/_fonts.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/molecules/Hero.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix
