Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

feat: combine sections
  README.md
Due: prettier --write

feat: combine sections (#863)
  README.md
Due: prettier --write

chore(deps): update packages
  clients/admin-client/package.json
  clients/design-system/package.json
  clients/jukebox/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/api-client-character-sheet/package.json
  libraries/api-client-email-service/package.json
  libraries/api-client-luck-by-dice/package.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  middleware/api/package.json
  middleware/graphql/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  platform/rigs/base-nodejs/package.json
  platform/rigs/eslint-config/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/dialogue-service/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
Due: prettier --write

fix: update test coverage
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
Due: prettier --write

feat: update design system test
  clients/design-system/.babelrc
  clients/design-system/jest.config.js
  clients/design-system/jest.config.json
  clients/design-system/package.json
  clients/design-system/src/components/Alert/Alert.test.tsx
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/Button/Button.test.tsx
  clients/design-system/src/components/Button/Button.tsx
  clients/design-system/src/components/Checkbox/Checkbox.test.tsx
  clients/design-system/src/components/Checkbox/Checkbox.tsx
  clients/design-system/src/components/Link/Link.test.tsx
  clients/design-system/src/components/Link/Link.tsx
  clients/design-system/src/utils/Analytics.test.tsx
  clients/design-system/src/utils/Analytics.ts
  clients/design-system/tsconfig.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/character-sheet/globalConfig.json
Due: prettier --write, eslint --format visualstudio--fix

fix: update AlertSevertiy prop
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/design-system/stories/components/atoms/Icons.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
  clients/design-system/stories/pages/TopicFront.stories.tsx
Due: none

feat: add basic card tests
  clients/design-system/src/components/Card/BasicCard.test.tsx
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  clients/design-system/src/styles/utils/_color-pallette.scss
Due: none

feat: design improvements
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/pages/login.page.tsx
  clients/admin-client/src/pages/signup.page.tsx
  clients/design-system/.storybook/preview-head.html
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Blurb/style.module.scss
  clients/design-system/src/components/BlurbPair/BlurbPair.tsx
  clients/design-system/src/components/BlurbPair/style.module.scss
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/src/styles/_fonts.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/molecules/BlurbPair.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
  clients/developer-portal/index.html
Due: prettier --write, eslint --format visualstudio--fix

feat: radius transition on cards
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/src/components/Card/BasicCard.test.tsx
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/stories/components/molecules/Card.stories.tsx
Due: none

feat: separate types into own files
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/Alert/AlertSeverity.type.ts
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/CardRibbonColor.type.ts
  clients/design-system/src/components/index.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: unit tests
  clients/design-system/src/components/Alert/Alert.test.tsx
  clients/design-system/src/components/Card/BasicCard.test.tsx
Due: none

feat: add chevron animation onhover
  clients/design-system/src/components/Card/BasicCard.tsx
Due: none

feat: make divider for blurb pair responsive
  clients/design-system/src/components/BlurbPair/BlurbPair.tsx
  clients/design-system/src/components/BlurbPair/style.module.scss
Due: none

feat: rm dead code
  README.md
  clients/design-system/src/components/BlurbPair/style.module.scss
Due: prettier --write

fix: up cards
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Card/BasicCard.tsx
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/Hero.tsx
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/Card.stories.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: add tabs
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Tabs/Tabs.tsx
  clients/design-system/src/components/Tabs/Tabs.type.ts
  clients/design-system/src/components/Tabs/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/Tabs.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: add problem statement
  README.md
Due: prettier --write

feat: add problem statement (#875)
  README.md
Due: prettier --write

feat: add promare gradient component
  clients/design-system/package.json
  clients/design-system/src/components/Gradient/Gradient.tsx
  clients/design-system/src/components/Gradient/GradientVariant.enum.ts
  clients/design-system/src/components/index.ts
  clients/design-system/stories/components/atoms/Gradient.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add promare gradient component (#876)
  clients/design-system/package.json
  clients/design-system/src/components/Gradient/Gradient.tsx
  clients/design-system/src/components/Gradient/GradientVariant.enum.ts
  clients/design-system/src/components/index.ts
  clients/design-system/stories/components/atoms/Gradient.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add manual setup info
  README.md
Due: prettier --write

feat: add article
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/vite.config.ts
  clients/design-system/src/components/Article/Article.tsx
  clients/design-system/src/components/Article/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/HeroBanner/HeroBanner.tsx
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/molecules/Article.stories.tsx
  clients/design-system/stories/components/molecules/HeroBanner.stories.tsx
  clients/design-system/stories/pages/TopicFront.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

fix: unused import
  clients/design-system/src/components/Article/Article.tsx
Due: none

feat: gradient bg image
  clients/admin-client/public/assets/archetype.jpg
  clients/admin-client/public/assets/background/blue.jpg
  clients/admin-client/public/assets/background/gray.jpg
  clients/admin-client/public/assets/background/yellow.jpg
  clients/admin-client/public/assets/data-center.jpg
  clients/admin-client/public/assets/dice.jpg
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/design-system/src/components/Breadcrumb/style.module.scss
  clients/design-system/src/components/HeroBanner/HeroBanner.tsx
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/HeroBanner.stories.tsx
Due: none

feat: add blurb icon colors
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/src/components/BlurbPair/BlurbPair.tsx
  clients/design-system/src/components/BlurbPair/style.module.scss
  clients/design-system/stories/components/molecules/BlurbPair.stories.tsx
Due: none

fix: type issue with blurb pair
  clients/admin-client/src/pages/home.page.tsx
Due: none

feat: add stylelint
  clients/design-system/.stylelintrc.json
  clients/design-system/package.json
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Article/style.module.scss
  clients/design-system/src/components/BlurbPair/BlurbIconColors.enum.ts
  clients/design-system/src/components/BlurbPair/BlurbPair.tsx
  clients/design-system/src/components/BlurbPair/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/Tabs/style.module.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_bg-color.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/atoms/ColorPallette.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add ordering of css attributes
  clients/design-system/.stylelintrc.json
  clients/design-system/package.json
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Article/style.module.scss
  clients/design-system/src/components/BlurbPair/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/Tabs/style.module.scss
  clients/design-system/src/components/TextField/style.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/stories/pages/Homepage.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat: add ordering of css attributes (#893)
  clients/design-system/.stylelintrc.json
  clients/design-system/package.json
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Article/style.module.scss
  clients/design-system/src/components/BlurbPair/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/Tabs/style.module.scss
  clients/design-system/src/components/TextField/style.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/stories/pages/Homepage.stories.tsx
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat: upgrade express
  clients/jukebox/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/promare-gradients/package.json
  middleware/api/package.json
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/graphql/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/message-bus/package.json
  services/billing-system/package.json
  services/character-sheet/globalConfig.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/user-service/package.json
  services/weather-control/package.json
Due: prettier --write

feat: adjust stylelint settings
  clients/design-system/.stylelintrc.json
  clients/design-system/package.json
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Article/style.module.scss
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/index.scss
Due: prettier --write

feat: configure prettier to lint scss
  .lintstagedrc.json
  .prettierrc.js
Due: prettier --write

feat: prettier scss
  .prettierrc.js
  clients/design-system/src/components/Alert/style.module.scss
  clients/design-system/src/components/AppBar/style.module.scss
  clients/design-system/src/components/Article/style.module.scss
  clients/design-system/src/components/BlurbPair/style.module.scss
  clients/design-system/src/components/Breadcrumb/style.module.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Card/style.module.scss
  clients/design-system/src/components/Hero/style.module.scss
  clients/design-system/src/components/HeroBanner/style.module.scss
  clients/design-system/src/components/Link/style.module.scss
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/Tabs/style.module.scss
  clients/design-system/src/components/TextField/style.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/src/styles/_fonts.scss
  clients/design-system/src/styles/utils/_bg-color.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  libraries/promare-gradients/src/scss/_variables.scss
Due: none

fix: missing commas
  clients/design-system/src/styles/utils/_color-pallette.scss
Due: none

feat: dynamic card radius
  clients/design-system/src/components/Card/style.module.scss
Due: none

feat: flesh in dynomimage
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/dynamo-image/.eslintrc.js
  services/dynamo-image/README.md
  services/dynamo-image/package.json
  services/dynamo-image/src/models/image-format.enum.ts
  services/dynamo-image/src/models/image-set-embeddable.schema.ts
  services/dynamo-image/src/models/image-variant.enum.ts
  services/dynamo-image/src/models/images.schema.ts
  services/dynamo-image/src/object-put.dto.ts
  services/dynamo-image/tsconfig.json
Due: prettier --write, eslint --format visualstudio--fix

wip: saving progress
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/dynamo-image/.env.dist
  services/dynamo-image/bin/app.ts
  services/dynamo-image/cdk.json
  services/dynamo-image/jest-mongodb-config.js
  services/dynamo-image/jest.config.json
  services/dynamo-image/openapi-spec.json
  services/dynamo-image/package.json
  services/dynamo-image/src/app.module.ts
  services/dynamo-image/src/database.module.ts
  services/dynamo-image/src/index.ts
  services/dynamo-image/src/main.ts
  services/dynamo-image/src/models/image-format.enum.ts
  services/dynamo-image/src/models/image-set.repository.ts
  services/dynamo-image/src/models/image-set.schema.ts
  services/dynamo-image/src/models/image-variant-embeddable.schema.ts
  services/dynamo-image/src/models/image-variant.enum.ts
  services/dynamo-image/src/models/images.schema.ts
  services/dynamo-image/src/modules/health/health.controller.ts
  services/dynamo-image/src/modules/health/health.e2e-spec.ts
  services/dynamo-image/src/modules/health/health.module.ts
  services/dynamo-image/src/modules/image/item.controller.ts
  services/dynamo-image/src/modules/image/item.e2e-spec.ts
  services/dynamo-image/src/modules/image/item.module.ts
  services/dynamo-image/src/modules/image/item.service.ts
  services/dynamo-image/src/modules/image/object-put.dto.ts
  services/dynamo-image/src/modules/image/query-image.dto.ts
  services/dynamo-image/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/dynamo-image/stacks/dynamo-image.stack.test.ts
  services/dynamo-image/stacks/dynamo-image.stack.ts
  services/dynamo-image/tsconfig copy.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add validate if
  services/dynamo-image/src/app.module.ts
  services/dynamo-image/src/modules/image/image.controller.ts
  services/dynamo-image/src/modules/image/image.e2e-spec.ts
  services/dynamo-image/src/modules/image/image.module.ts
  services/dynamo-image/src/modules/image/image.service.ts
  services/dynamo-image/src/modules/image/item.controller.ts
  services/dynamo-image/src/modules/image/item.module.ts
  services/dynamo-image/src/modules/image/item.service.ts
  services/dynamo-image/src/modules/image/query-image.dto.ts
  services/dynamo-image/stacks/dynamo-image.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add provider
  clients/admin-client/src/App.tsx
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/context/AppProvider.tsx
  libraries/validation-schemas/src/index.ts
  services/dynamo-image/stacks/__snapshots__/dynamo-image.stack.test.ts.snap
Due: prettier --write, eslint --format visualstudio--fix

fix: admin client build
  clients/admin-client/package.json
  clients/admin-client/src/App.tsx
  clients/admin-client/src/context/AppProvider.tsx
  clients/admin-client/vite.config.ts
  clients/jukebox/openapi-spec.json
Due: prettier --write, eslint --format visualstudio--fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
