Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: instance service get endpoints (#513)
  .vscode/launch.json
  libraries/faker-factory/.eslintrc.js
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/settings.type.ts
  libraries/nestjs-modules/.eslintrc.js
  libraries/nestjs-modules/src/index.ts
  libraries/nestjs-modules/src/utils/async-for-each.test.ts
  libraries/nestjs-modules/src/utils/async-for-each.ts
  libraries/nestjs-modules/src/utils/index.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.controller.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/instances/src/module/instances/query.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add get instance endpoints
  .gitattributes
  .vscode/launch.json
Due: prettier --write

fix: linguist detection for js (#514)
  .gitattributes
  .vscode/launch.json
Due: prettier --write

feat: add pseudo random library
  libraries/pseudo-random/.eslintrc.js
  libraries/pseudo-random/LICENSE
  libraries/pseudo-random/README.md
  libraries/pseudo-random/jest.config.json
  libraries/pseudo-random/package.json
  libraries/pseudo-random/src/__snapshots__/gaussian-random.test.ts.snap
  libraries/pseudo-random/src/__snapshots__/obfuscate-counter.test.ts.snap
  libraries/pseudo-random/src/fisher-yates-shuffle.test.ts
  libraries/pseudo-random/src/fisher-yates-shuffle.ts
  libraries/pseudo-random/src/gaussian-random.test.ts
  libraries/pseudo-random/src/gaussian-random.ts
  libraries/pseudo-random/src/index.ts
  libraries/pseudo-random/src/obfuscate-counter.test.ts
  libraries/pseudo-random/src/obfuscate-counter.ts
  libraries/pseudo-random/tsconfig.json
Due: prettier --write, eslint --format visualstudio--fix

chore: shrinkwrap gen
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
Due: prettier --write

chore: changelog gen
  common/changes/@cats-cradle/pseudo-random/feature-pseudo-random-lib_2023-11-11-08-34.json
Due: prettier --write

fix: license year
  libraries/pseudo-random/LICENSE
Due: none

fix: guassian random
  libraries/pseudo-random/src/__snapshots__/gaussian-random.test.ts.snap
  libraries/pseudo-random/src/gaussian-random.test.ts
  libraries/pseudo-random/src/gaussian-random.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove prng
  libraries/pseudo-random/README.md
  libraries/pseudo-random/src/gaussian-random.test.ts
  libraries/pseudo-random/src/gaussian-random.ts
  libraries/pseudo-random/src/index.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove snap
  libraries/pseudo-random/src/__snapshots__/gaussian-random.test.ts.snap
Due: none

feat: pseudo random lib (#515)
  common/changes/@cats-cradle/pseudo-random/feature-pseudo-random-lib_2023-11-11-08-34.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/pseudo-random/.eslintrc.js
  libraries/pseudo-random/LICENSE
  libraries/pseudo-random/README.md
  libraries/pseudo-random/jest.config.json
  libraries/pseudo-random/package.json
  libraries/pseudo-random/src/__snapshots__/obfuscate-counter.test.ts.snap
  libraries/pseudo-random/src/fisher-yates-shuffle.test.ts
  libraries/pseudo-random/src/fisher-yates-shuffle.ts
  libraries/pseudo-random/src/index.ts
  libraries/pseudo-random/src/obfuscate-counter.test.ts
  libraries/pseudo-random/src/obfuscate-counter.ts
  libraries/pseudo-random/tsconfig.json
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add test coverage and ruler
  .vscode/settings.json
  services/authentication-service/src/modules/user/user.e2e-spec.ts
  services/luck-by-dice/openapi-spec.json
  services/luck-by-dice/src/lib/Collection.test.ts
  services/luck-by-dice/src/lib/Cup.test.ts
  services/luck-by-dice/src/lib/Dice.test.ts
  services/luck-by-dice/src/lib/Handler.ts
  services/luck-by-dice/src/lib/Luck.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/AbstractLuckAdjustment.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/AbstractLuckAdjustment.ts
  services/luck-by-dice/src/lib/LuckAdjustment/DefaultLuckAdjustment.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/FickleLuckAdjustment.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/FickleLuckAdjustment.ts
  services/luck-by-dice/src/lib/NotationCodec.test.ts
  services/luck-by-dice/src/lib/Turn.test.ts
  services/luck-by-dice/src/lib/__tests__/Handler.test.ts
  services/luck-by-dice/src/lib/index.ts
Due: prettier --write, eslint --format visualstudio--fix

chore(release): bump versions
  commitlint.config.js
  common/changes/@cats-cradle/authentication-service/feature-add-test-cov_2023-11-11-16-58.json
  common/changes/@cats-cradle/pseudo-random/feature-pseudo-random-lib_2023-11-11-08-34.json
  libraries/pseudo-random/CHANGELOG.json
  libraries/pseudo-random/CHANGELOG.md
  libraries/pseudo-random/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

fix: unit test
  services/authentication-service/src/modules/user/user.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add test coverage and ruler (#516)
  .vscode/settings.json
  commitlint.config.js
  common/changes/@cats-cradle/authentication-service/feature-add-test-cov_2023-11-11-16-58.json
  common/changes/@cats-cradle/pseudo-random/feature-pseudo-random-lib_2023-11-11-08-34.json
  libraries/pseudo-random/CHANGELOG.json
  libraries/pseudo-random/CHANGELOG.md
  libraries/pseudo-random/package.json
  services/authentication-service/src/modules/user/user.e2e-spec.ts
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/openapi-spec.json
  services/luck-by-dice/package.json
  services/luck-by-dice/src/lib/Collection.test.ts
  services/luck-by-dice/src/lib/Cup.test.ts
  services/luck-by-dice/src/lib/Dice.test.ts
  services/luck-by-dice/src/lib/Handler.ts
  services/luck-by-dice/src/lib/Luck.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/AbstractLuckAdjustment.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/AbstractLuckAdjustment.ts
  services/luck-by-dice/src/lib/LuckAdjustment/DefaultLuckAdjustment.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/FickleLuckAdjustment.test.ts
  services/luck-by-dice/src/lib/LuckAdjustment/FickleLuckAdjustment.ts
  services/luck-by-dice/src/lib/NotationCodec.test.ts
  services/luck-by-dice/src/lib/Turn.test.ts
  services/luck-by-dice/src/lib/__tests__/Handler.test.ts
  services/luck-by-dice/src/lib/index.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: upgrade @aws-sdk/client-s3 from 3.289.0 to 3.433.0
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade @aws-sdk/client-sns from 3.289.0 to 3.433.0
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade mongoose from 6.9.1 to 6.12.1
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade dotenv from 16.0.3 to 16.3.1
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade @types/validator from 13.7.17 to 13.11.5
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade @aws-cdk/core from 1.182.0 to 1.203.0
  platform/api-gateway/package.json
Due: prettier --write

fix: upgrade mongoose from 6.9.1 to 6.12.1
  platform/api-gateway/package.json
Due: prettier --write

fix: upgrade aws-cdk-lib from 2.95.0 to 2.102.0
  platform/api-gateway/package.json
Due: prettier --write

fix: upgrade @nestjs/terminus from 9.1.1 to 9.2.2
  platform/api-gateway/package.json
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  platform/api-gateway/package.json
Due: prettier --write

fix: upgrade @types/validator from 13.7.17 to 13.11.5
  libraries/faker-factory/package.json
Due: prettier --write

fix: upgrade class-validator from 0.13.2 to 0.14.0
  libraries/faker-factory/package.json
Due: prettier --write

fix: upgrade openapi3-ts from 3.1.2 to 3.2.0
  libraries/faker-factory/package.json
Due: prettier --write

fix: upgrade @nestjs/testing from 9.2.1 to 9.4.3
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade @nestjs/terminus from 9.1.1 to 9.2.2
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade eslint from 8.44.0 to 8.52.0
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade class-validator from 0.13.2 to 0.14.0
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade @types/validator from 13.7.17 to 13.11.5
  libraries/messaging-schemas/package.json
Due: prettier --write

fix: upgrade @microsoft/rush-lib from 5.100.1 to 5.109.2
  platform/cli-tools/rush-coverage/package.json
Due: prettier --write

fix: upgrade @nestjs/testing from 9.2.1 to 9.4.3
  services/graphql/package.json
Due: prettier --write

fix: upgrade @nestjs/terminus from 9.1.1 to 9.2.2
  services/graphql/package.json
Due: prettier --write

fix: upgrade eslint from 8.44.0 to 8.52.0
  services/graphql/package.json
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  services/graphql/package.json
Due: prettier --write

fix: upgrade class-validator from 0.13.2 to 0.14.0
  services/graphql/package.json
Due: prettier --write
