Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

fix: remove dead code
  clients/admin-client/src/App.tsx
Due: none

fix: linting issues
  clients/admin-client/src/components/Breadcrumbs.tsx
  clients/admin-client/src/routing/Router.tsx
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
Due: none

feat: switch from dom to object router
  clients/admin-client/src/App.tsx
  clients/admin-client/src/components/Breadcrumbs.tsx
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/routing/Router.tsx
Due: none

fix: login button color
  clients/admin-client/src/components/Header.tsx
Due: none

feat: social media props
  clients/admin-client/src/App.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/components/PageFooter/PageFooter.tsx
  clients/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  clients/design-system/src/components/index.ts
  clients/design-system/stories/components/organisms/PageFooter.stories.tsx
  clients/design-system/stories/components/organisms/SocialMediaBar.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: social media props (#778)
  clients/admin-client/src/App.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/components/PageFooter/PageFooter.tsx
  clients/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  clients/design-system/src/components/index.ts
  clients/design-system/stories/components/organisms/PageFooter.stories.tsx
  clients/design-system/stories/components/organisms/SocialMediaBar.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: switch from mui to bs alerts
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/Alert.stories.tsx
  clients/design-system/stories/components/organisms/AppBar.stories.tsx
  clients/design-system/stories/components/organisms/PageFooter.stories copy.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: none

fix: remove error severity
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/design-system/src/components/Typography/style.module.scss
Due: none

fix: prop declaration
  clients/admin-client/src/components/DiceAnalyzer.tsx
Due: none

feat: switch from mui to bs alerts (#779)
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/stories/components/molecules/Alert.stories.tsx
  clients/design-system/stories/components/organisms/AppBar.stories.tsx
  clients/design-system/stories/components/organisms/PageFooter.stories copy.tsx
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: add paper
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Icons/Icons.ts
  clients/design-system/src/components/Layout/Layout.tsx
  clients/design-system/src/components/Paper/Paper.tsx
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: add paper (#780)
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/design-system/src/components/Alert/Alert.tsx
  clients/design-system/src/components/AppBar/AppBar.tsx
  clients/design-system/src/components/AppBar/style.scss
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/Icons/Icons.ts
  clients/design-system/src/components/Layout/Layout.tsx
  clients/design-system/src/components/Paper/Paper.tsx
  clients/design-system/src/components/Paper/style.module.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/components/index.ts
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in login page
  clients/admin-client/src/pages/login.page.tsx
  clients/admin-client/src/routing/Router.tsx
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/PageFooter/PageFooter.tsx
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
Due: none

fix: input prop issue
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/pages/login.page.tsx
  clients/design-system/src/components/TextField/TextField.tsx
  clients/design-system/stories/components/molecules/Layout.stories.tsx
  clients/player-client/README.md
Due: prettier --write

feat: flesh in login page (#781)
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/pages/login.page.tsx
  clients/admin-client/src/routing/Router.tsx
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/PageFooter/PageFooter.tsx
  clients/design-system/src/components/PageFooter/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/TextField/TextField.tsx
  clients/design-system/stories/components/molecules/Layout.stories.tsx
  clients/player-client/README.md
Due: prettier --write

feat: add labels
  clients/admin-client/src/pages/login.page.tsx
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/TextField/TextField.tsx
  clients/design-system/src/components/TextField/style.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/molecules/Textfield.stories.tsx
Due: none

feat: add labels (#782)
  clients/admin-client/src/pages/login.page.tsx
  clients/design-system/src/components/Button/style.module.scss
  clients/design-system/src/components/SocialMediaBar/style.module.scss
  clients/design-system/src/components/TextField/TextField.tsx
  clients/design-system/src/components/TextField/style.scss
  clients/design-system/src/components/Typography/style.module.scss
  clients/design-system/src/index.scss
  clients/design-system/src/styles/utils/_color-pallette.scss
  clients/design-system/stories/components/molecules/Textfield.stories.tsx
Due: none

chore: update dependency
  clients/design-system/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/api-client-character-sheet/package.json
  libraries/api-client-email-service/package.json
  libraries/api-client-luck-by-dice/package.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/promare-gradients/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  platform/rigs/base-nodejs/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/dialogue-service/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

chore: update dependency (#785)
  clients/design-system/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/api-client-character-sheet/package.json
  libraries/api-client-email-service/package.json
  libraries/api-client-luck-by-dice/package.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/promare-gradients/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  platform/rigs/base-nodejs/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/dialogue-service/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

feat: add sub domain and cert to org formation
  .devcontainer/.aws/config
  platform/aws-org-formation/README.md
  platform/aws-org-formation/bin/organization-tasks.yml
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/sync.sh
  platform/aws-org-formation/bin/templates/subdomains.yml
  platform/aws-org-formation/bin/templates/wildcard-certs.yml
Due: prettier --write

feat: add sub domain and cert to org formation (#786)
  .devcontainer/.aws/config
  platform/aws-org-formation/README.md
  platform/aws-org-formation/bin/organization-tasks.yml
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/sync.sh
  platform/aws-org-formation/bin/templates/subdomains.yml
  platform/aws-org-formation/bin/templates/wildcard-certs.yml
Due: prettier --write

feat: add domain registration
  platform/aws-org-formation/README.md
  platform/aws-org-formation/bin/templates/wildcard-certs.yml
Due: prettier --write

feat: org formation domains (#787)
  platform/aws-org-formation/README.md
  platform/aws-org-formation/bin/templates/wildcard-certs.yml
Due: prettier --write

wip: saving progress
  .devcontainer/.aws/config
  common/config/rush/command-line.json
  platform/api-gateway/bin/app.ts
  platform/api-gateway/cdk.context.json
  platform/api-gateway/stacks/acm-certifcate.stack.ts
  platform/api-gateway/stacks/api-gateway.stack.test.ts
  platform/api-gateway/stacks/api-gateway.stack.ts
  platform/api-gateway/stacks/main.stack.test.ts
  platform/api-gateway/stacks/main.stack.ts
  platform/api-gateway/stacks/route-53.stack.ts
  platform/aws-org-formation/bin/init.sh
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/sync.sh
  platform/aws-org-formation/bin/templates/subdomains.yml
  platform/aws-org-formation/bin/templates/wildcard-certs.yml
  platform/aws-org-formation/package.json
  platform/constructs/src/aws-accounts/accounts.ts
  platform/constructs/src/aws-accounts/aws-account.service.ts
  platform/constructs/src/aws-accounts/index.ts
  platform/constructs/src/index.ts
Due: prettier --write, eslint --format visualstudio--fix

wip: saving progress
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/api-gateway/stacks/main.stack.ts
  platform/aws-org-formation/bin/organization.yml
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

wip: saving progress
  platform/api-gateway/stacks/main.stack.ts
  services/dialogue-service/public/en/acts/1_cradle/dialogues/soil.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/through-the-gateway.ink
Due: prettier --write, eslint --format visualstudio--fix

wip: saving progress
  platform/api-gateway/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add meta tags endpoint to html to pdf
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/app.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.controller.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add meta tags endpoint to html to pdf (#789)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/app.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.controller.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.service.ts
Due: prettier --write, eslint --format visualstudio--fix

wip: saving works e2e
  platform/api-gateway/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: apigw stack unit test
  platform/api-gateway/stacks/__snapshots__/api-gateway.stack.test.ts.snap
  platform/api-gateway/stacks/__snapshots__/main.stack.test.ts.snap
  platform/api-gateway/stacks/acm-certifcate.stack.ts
  platform/api-gateway/stacks/api-gateway.stack.ts
  platform/api-gateway/stacks/index.js
  platform/api-gateway/stacks/main.stack.test.ts
  platform/api-gateway/stacks/main.stack.ts
  platform/api-gateway/stacks/route-53.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: set environment atlas connection
  platform/api-gateway/bin/app.ts
  platform/api-gateway/stacks/main.stack.test.ts
  platform/api-gateway/stacks/main.stack.ts
  platform/aws-org-formation/bin/organization-tasks.yml
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/templates/mongodb.yml
  platform/aws-org-formation/bin/templates/subdomains.yml
  platform/constructs/src/dns/lambda-domain-name.ts
  platform/constructs/src/index.ts
  platform/constructs/src/microservice/microservice.ts
  platform/constructs/src/nestjs/nestjs.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add send email setup
  platform/aws-org-formation/bin/organization-tasks.yml
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/templates/send-email.yml
  services/email-service/stacks/email-service.stack.ts
  services/email-service/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: unit tests
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/api-gateway/stacks/__snapshots__/main.stack.test.ts.snap
  platform/api-gateway/stacks/main.stack.test.ts
  platform/aws-org-formation/package.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  rush.json
  services/api/.eslintrc.js
  services/api/LICENSE
  services/api/README.md
  services/api/bin/app.ts
  services/api/cdk.context.json
  services/api/cdk.json
  services/api/jest.config.json
  services/api/package.json
  services/api/stacks/__snapshots__/main.stack.test.ts.snap
  services/api/stacks/main.stack.test.ts
  services/api/stacks/main.stack.ts
  services/api/tsconfig.json
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/character-sheet/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/instances/stacks/__snapshots__/instance.stack.test.ts.snap
  services/luck-by-dice/stacks/__snapshots__/luck-by-dice.stack.test.ts.snap
  services/player-achievements/stacks/__snapshots__/player-achievements.stack.test.ts.snap
Due: prettier --write, eslint --format visualstudio--fix
