Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: flesh and save and load patterns (#720)
  services/acheivements/README.md
  services/object-state-management/README.md
Due: prettier --write

feat: flesh in player achievement service
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/acheivements/README.md
  services/player-achievements/.env.dist
  services/player-achievements/.eslintrc.js
  services/player-achievements/README.md
  services/player-achievements/bin/app.ts
  services/player-achievements/cdk.json
  services/player-achievements/jest-mongodb-config.js
  services/player-achievements/jest.config.json
  services/player-achievements/openapi-spec.json
  services/player-achievements/package.json
  services/player-achievements/src/app.module.ts
  services/player-achievements/src/database.module.ts
  services/player-achievements/src/index.ts
  services/player-achievements/src/main.ts
  services/player-achievements/src/models/achievements.ts
  services/player-achievements/src/models/player-achievements.repository.ts
  services/player-achievements/src/models/player-achievements.schema.ts
  services/player-achievements/src/models/trophy.enum.ts
  services/player-achievements/src/module/health/health.controller.ts
  services/player-achievements/src/module/health/health.e2e-spec.ts
  services/player-achievements/src/module/health/health.module.ts
  services/player-achievements/src/module/player-achievements/create.dto.ts
  services/player-achievements/src/module/player-achievements/delete.dto.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
  services/player-achievements/src/module/player-achievements/player-achievements.e2e-spec.ts
  services/player-achievements/src/module/player-achievements/player-achievements.module.ts
  services/player-achievements/src/module/player-achievements/query.dto.ts
  services/player-achievements/stacks/__snapshots__/player-achievements.stack.test.ts.snap
  services/player-achievements/stacks/player-achievements.stack.test.ts
  services/player-achievements/stacks/player-achievements.stack.ts
  services/player-achievements/tsconfig.json
Due: prettier --write, eslint --format visualstudio--fix

feat: dynamic description
  services/character-sheet/package.json
  services/character-sheet/src/main.ts
  services/email-service/package.json
  services/email-service/src/main.ts
  services/instances/package.json
  services/instances/src/main.ts
  services/jukebox/package.json
  services/jukebox/src/main.ts
  services/player-achievements/src/main.ts
  services/weather-control/package.json
  services/weather-control/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in player achievements
  libraries/validation-schemas/src/custom/is-uuidv4.ts
  services/player-achievements/README.md
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/models/trophy.schema.ts
  services/player-achievements/src/module/player-achievements/create.dto.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove dead code
  services/player-achievements/src/models/trophy.schema.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in player achievements (#724)
  libraries/validation-schemas/src/custom/is-uuidv4.ts
  services/player-achievements/README.md
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/models/trophy.schema.ts
  services/player-achievements/src/module/player-achievements/create.dto.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add codegen to pr
  .github/workflows/call-codegen.yml
  .github/workflows/on-pull-request-opened.yml
  services/player-achievements/src/models/trophy.schema.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: reserved token
  .github/workflows/call-codegen.yml
  .github/workflows/on-pull-request-opened.yml
Due: none

wip: saving progress
  .github/workflows/on-pull-request-opened.yml
Due: none

wip: saving progress
  .github/workflows/call-codegen.yml
  .github/workflows/on-pull-request-opened.yml
Due: none

fix: reserved token
  .github/workflows/on-pull-request-opened.yml
Due: none

fix: reserved token
  .github/workflows/call-codegen.yml
Due: none

feat: add codegen to pr (#725)
  .github/workflows/call-codegen.yml
  .github/workflows/on-pull-request-opened.yml
  services/player-achievements/src/models/trophy.schema.ts
Due: prettier --write, eslint --format visualstudio--fix

chore(deps): upgrade nestjs swagger
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/api-gateway/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  services/authentication-service/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

chore(deps): upgrade nestjs swagger (#726)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/api-gateway/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  services/authentication-service/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

feat: add migrations to player achievements
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/acheivements/README.md
  services/player-achievements/.migrate
  services/player-achievements/package.json
  services/player-achievements/src/migrations-utils/db.ts
  services/player-achievements/src/migrations-utils/template.ts
  services/player-achievements/src/migrations-utils/ts-compiler.js
  services/player-achievements/src/migrations/1701140634237-trophy.ts
  services/player-achievements/src/models/achievements.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add migrations to player achievements (#727)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/acheivements/README.md
  services/player-achievements/.migrate
  services/player-achievements/package.json
  services/player-achievements/src/migrations-utils/db.ts
  services/player-achievements/src/migrations-utils/template.ts
  services/player-achievements/src/migrations-utils/ts-compiler.js
  services/player-achievements/src/migrations/1701140634237-trophy.ts
  services/player-achievements/src/models/achievements.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: migrations trophies
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/player-achievements/.migrate
  services/player-achievements/package.json
  services/player-achievements/src/migrations/1701140634237-trophy.ts
Due: prettier --write, eslint --format visualstudio--fix

wip: saving pr
  services/player-achievements/.migrate
  services/player-achievements/src/migrations/1701140634237-trophy.ts
  services/player-achievements/src/models/achievements.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: update shrinkwrap
  common/config/rush/repo-state.json
Due: prettier --write

feat: player archeivement migrations (#728)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/player-achievements/package.json
  services/player-achievements/src/migrations/1701140634237-trophy.ts
  services/player-achievements/src/models/achievements.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: switch migration tool
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/rigs/base-nodejs/profiles/nestjs-app/tsconfig-base.json
  services/player-achievements/.migrate
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/migrations/index.ts
  services/player-achievements/package.json
  services/player-achievements/src/migrations-utils/db.ts
  services/player-achievements/src/migrations-utils/template.ts
  services/player-achievements/src/migrations-utils/ts-compiler.js
  services/player-achievements/src/migrations/1701140634237-trophy.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: switch migration tool (#729)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/rigs/base-nodejs/profiles/nestjs-app/tsconfig-base.json
  services/player-achievements/.migrate
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/migrations/index.ts
  services/player-achievements/package.json
  services/player-achievements/src/migrations-utils/db.ts
  services/player-achievements/src/migrations-utils/template.ts
  services/player-achievements/src/migrations-utils/ts-compiler.js
  services/player-achievements/src/migrations/1701140634237-trophy.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in achievement embeddables
  .vscode/settings.json
  services/email-service/openapi-spec.json
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/migrations/1701265134891_SeedData.ts
  services/player-achievements/migrations/index.ts
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/models/achievement.repository.ts
  services/player-achievements/src/models/achievement.schema.ts
  services/player-achievements/src/models/achievement.type.ts
  services/player-achievements/src/models/achievements.ts
  services/player-achievements/src/models/player-achievement.repository.ts
  services/player-achievements/src/models/player-achievement.schema.ts
  services/player-achievements/src/models/player-achievements.repository.ts
  services/player-achievements/src/models/trophy-criteria-embeddable.schema.ts
  services/player-achievements/src/models/trophy.schema.ts
  services/player-achievements/src/module/player-achievements/create.dto.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
  services/player-achievements/src/module/player-achievements/player-achievements.e2e-spec.ts
  services/player-achievements/src/module/player-achievements/player-achievements.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add achievements to module
  services/player-achievements/src/module/player-achievements/player-achievements.module.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: unit test isolation
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/app.module.ts
  services/player-achievements/src/models/achievement.type.ts
  services/player-achievements/src/module/achievements/achievements.controller.ts
  services/player-achievements/src/module/achievements/achievements.e2e-spec.ts
  services/player-achievements/src/module/achievements/achievements.module.ts
  services/player-achievements/src/module/achievements/query.dto.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: addd constructor to create
  common/config/rush/browser-approved-packages.json
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/models/achievement.schema.ts
  services/player-achievements/src/models/player-achievement.schema.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: something or another
  services/player-achievements/migrations/1701265134891_SeedData.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add auto push
  common/git-hooks/post-commit
Due: none

fix: sugar syntax
  common/git-hooks/post-commit
Due: none

feat: flesh in achievement embeddables (#730)
  .vscode/settings.json
  common/config/rush/browser-approved-packages.json
  common/git-hooks/post-commit
  services/email-service/openapi-spec.json
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/migrations/1701265134891_SeedData.ts
  services/player-achievements/migrations/index.ts
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/app.module.ts
  services/player-achievements/src/models/achievement.repository.ts
  services/player-achievements/src/models/achievement.schema.ts
  services/player-achievements/src/models/achievements.ts
  services/player-achievements/src/models/player-achievement.repository.ts
  services/player-achievements/src/models/player-achievement.schema.ts
  services/player-achievements/src/models/player-achievements.repository.ts
  services/player-achievements/src/models/trophy-criteria-embeddable.schema.ts
  services/player-achievements/src/models/trophy.schema.ts
  services/player-achievements/src/module/achievements/achievements.controller.ts
  services/player-achievements/src/module/achievements/achievements.e2e-spec.ts
  services/player-achievements/src/module/achievements/achievements.module.ts
  services/player-achievements/src/module/achievements/query.dto.ts
  services/player-achievements/src/module/player-achievements/create.dto.ts
  services/player-achievements/src/module/player-achievements/player-achievements.controller.ts
  services/player-achievements/src/module/player-achievements/player-achievements.e2e-spec.ts
  services/player-achievements/src/module/player-achievements/player-achievements.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add base entity
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/git-hooks/post-merge
  libraries/nestjs-modules/package.json
  libraries/nestjs-modules/src/mongoose/base.entity.ts
  libraries/nestjs-modules/src/mongoose/index.ts
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/models/gauge-embeddable.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.controller.ts
  services/character-sheet/src/modules/npc/npc.controller.ts
  services/email-service/src/database.module.ts
  services/email-service/src/models/email-message/email-message.schema.ts
  services/email-service/src/modules/email-message/email-message.e2e-spec.ts
  services/email-service/src/modules/email-message/email-message.module.ts
  services/email-service/src/modules/email-message/queue.service.ts
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/models/achievement.schema.ts
  services/player-achievements/src/models/player-achievement.schema.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add base entity (#731)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/git-hooks/post-merge
  libraries/nestjs-modules/package.json
  libraries/nestjs-modules/src/mongoose/base.entity.ts
  libraries/nestjs-modules/src/mongoose/index.ts
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/models/gauge-embeddable.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.controller.ts
  services/character-sheet/src/modules/npc/npc.controller.ts
  services/email-service/src/database.module.ts
  services/email-service/src/models/email-message/email-message.schema.ts
  services/email-service/src/modules/email-message/email-message.e2e-spec.ts
  services/email-service/src/modules/email-message/email-message.module.ts
  services/email-service/src/modules/email-message/queue.service.ts
  services/player-achievements/migrations/1701265134891_Migration.ts
  services/player-achievements/openapi-spec.json
  services/player-achievements/src/models/achievement.schema.ts
  services/player-achievements/src/models/player-achievement.schema.ts
Due: prettier --write, eslint --format visualstudio--fix
