Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: flesh in api router
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/api/.env.dist
  services/api/README.md
  services/api/package.json
  services/api/src/app.module.ts
  services/api/src/index.ts
  services/api/src/main.ts
  services/api/src/modules/health/health.controller.ts
  services/api/src/modules/health/health.e2e-spec.ts
  services/api/src/modules/health/health.module.ts
  services/api/src/modules/router/router.controller.ts
  services/api/src/modules/router/router.e2e-spec.ts
  services/api/src/modules/router/router.module.ts
  services/api/src/modules/router/router.service.ts
  services/api/stacks/__snapshots__/main.stack.test.ts.snap
  services/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: change puppeteer bundle
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
  rush.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/app.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.controller.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.service.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write

fix: bundle settings
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/html-to-pdf/package.json
Due: prettier --write

fix: remove puppeteer (#791)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
  rush.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/html-to-pdf/src/app.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.controller.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.module.ts
  services/html-to-pdf/src/module/meta-tags/meta-tags.service.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump create-bundle
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

chore: bump create-bundle (#792)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

feat: add chromium-min to exclusion
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/package.json
Due: prettier --write

feat: change chromium to chromium-min (#793)
  platform/cli-tools/create-bundle/CHANGELOG.json
  platform/cli-tools/create-bundle/CHANGELOG.md
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: bump bundler
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: bump bundler (#794)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions (#795)
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/create-bundle/src/profiles/nestjs-bundler.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add s3 bucket for pdf storage
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

fix: scope on cdk
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: update snapshot
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add s3 bucket for pdf storage (#796)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: save html to pdf to s3 bucket rather than returning file stream
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  docs/architecture-guidelines.md
  platform/constructs/src/microservice/microservice.ts
  platform/constructs/src/nestjs/environment.type.ts
  platform/constructs/src/nestjs/nestjs.ts
  services/html-to-pdf/.env.dist
  services/html-to-pdf/package.json
  services/html-to-pdf/src/app.module.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.module.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump lock file
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat: add lint placeholder to org formation
  platform/aws-org-formation/package.json
Due: prettier --write

fix: unit tests
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/authentication-service/stacks/auth-service.stack.ts
  services/character-sheet/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/character-sheet/stacks/character-sheet.stack.ts
  services/player-achievements/stacks/__snapshots__/player-achievements.stack.test.ts.snap
  services/player-achievements/stacks/player-achievements.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: binary encoding on json resp
  services/html-to-pdf/package.json
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/module/pdf/operation.dto.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: unit tests
  services/instances/stacks/__snapshots__/instance.stack.test.ts.snap
  services/instances/stacks/instance.stack.ts
  services/luck-by-dice/stacks/__snapshots__/luck-by-dice.stack.test.ts.snap
  services/luck-by-dice/stacks/luck-by-dice.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: remove test access key
  services/html-to-pdf/.env.dist
Due: none

fix: cdk:synth issues
  services/email-service/stacks/email-service.stack.ts
  services/email-service/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: define api endpoints
  services/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: define api endpoints
  services/character-sheet/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/character-sheet/stacks/character-sheet.stack.ts
  services/email-service/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: define api endpoints
  services/instances/stacks/__snapshots__/instance.stack.test.ts.snap
  services/instances/stacks/instance.stack.ts
  services/luck-by-dice/stacks/__snapshots__/luck-by-dice.stack.test.ts.snap
  services/luck-by-dice/stacks/luck-by-dice.stack.ts
  services/player-achievements/stacks/__snapshots__/player-achievements.stack.test.ts.snap
  services/player-achievements/stacks/player-achievements.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  platform/constructs/CHANGELOG.json
  platform/constructs/CHANGELOG.md
  platform/constructs/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

fix: artifact build
  services/api/package.json
Due: prettier --write

fix: create artifact for api service (#798)
  services/api/package.json
Due: prettier --write

feat: binary media type support
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/scripts/git-scm/rm-branches.sh
  common/scripts/git-scm/rm-logs.sh
  platform/constructs/src/dns/lambda-domain-name.ts
  platform/constructs/src/microservice/microservice.ts
  platform/lambda-layers/bin/app.ts
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-lambda-layer.stack.test.ts.snap
  platform/lambda-layers/stacks/chromium-layer.stack.ts
  platform/lambda-layers/stacks/download-lambda-layer.ts
  platform/lambda-layers/stacks/main.stack.ts
  platform/lambda-layers/stacks/nestjs-layer.stack.test.ts
  platform/lambda-layers/stacks/nestjs-layer.stack.ts
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/character-sheet/openapi-spec.json
  services/character-sheet/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/html-to-pdf/README.md
  services/html-to-pdf/bin/app.ts
  services/html-to-pdf/openapi-spec.json
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/main.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/html-to-pdf/stacks/html-to-pdf.stack.test.ts
  services/html-to-pdf/stacks/html-to-pdf.stack.ts
  services/instances/stacks/__snapshots__/instance.stack.test.ts.snap
  services/luck-by-dice/openapi-spec.json
  services/luck-by-dice/src/main.ts
  services/luck-by-dice/stacks/__snapshots__/luck-by-dice.stack.test.ts.snap
  services/player-achievements/stacks/__snapshots__/player-achievements.stack.test.ts.snap
  services/weather-control/openapi-spec.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add lambda layer version
  platform/lambda-layers/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: update snapshot
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/lambda-layers/stacks/nestjs-layer.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add dns for jukebox
  clients/admin-client/stacks/admin-client.stack.ts
  services/jukebox/stacks/audio-service.stack.ts
Due: prettier --write, eslint --format visualstudio--fix
