Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: update release verbage to explain difference between service and package publishing
  .github/workflows/call-release.yml
Due: none

feat: add create-bundler --watch (#470)
  .github/workflows/call-release.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundlers/CHANGELOG.md
  platform/bundlers/src/__tests__/nestjs-bundler.test.ts
  platform/bundlers/src/__tests__/test-data/nestjs/src/index.ts
  platform/bundlers/src/bin-nestjs.ts
  platform/bundlers/src/index.ts
  platform/bundlers/src/profiles/nestjs-bundler.ts
  platform/create-bundle/.eslintrc.js
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/LICENSE.md
  platform/create-bundle/README.md
  platform/create-bundle/jest.config.js
  platform/create-bundle/package.json
  platform/create-bundle/src/__tests__/nestjs-bundler.test.ts
  platform/create-bundle/src/__tests__/test-data/nestjs/src/index.ts
  platform/create-bundle/src/__tests__/test-data/nestjs/tsconfig.json
  platform/create-bundle/src/create-bundle-bin.ts
  platform/create-bundle/src/index.ts
  platform/create-bundle/src/profiles/nestjs-bundler.ts
  platform/create-bundle/tsconfig.json
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

feat: bump version
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: bump version (#471)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: create bundler bin
  platform/create-bundle/bin/create-bundle
  platform/create-bundle/package.json
  services/admin-client/cdk.json
  services/authentication-service/cdk.json
  services/authentication-service/package.json
  services/billing-system/cdk.json
  services/billing-system/package.json
  services/character-sheet/cdk.json
  services/character-sheet/package.json
  services/design-system/cdk.json
  services/design-system/package.json
  services/email-service/cdk.json
  services/email-service/package.json
  services/graphql/cdk.json
  services/graphql/package.json
  services/html-to-pdf/cdk.json
  services/html-to-pdf/package.json
  services/jukebox/cdk.json
  services/jukebox/package.json
  services/jukebox/public/index.html
  services/luck-by-dice/cdk.json
  services/luck-by-dice/package.json
  services/weather-control/cdk.json
  services/weather-control/package.json
Due: prettier --write

chore: bump versions
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/design-system/CHANGELOG.json
  services/design-system/CHANGELOG.md
  services/design-system/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

feat: create bundler bin (#472)
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/bin/create-bundle
  platform/create-bundle/package.json
  services/admin-client/cdk.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/cdk.json
  services/authentication-service/package.json
  services/billing-system/cdk.json
  services/billing-system/package.json
  services/character-sheet/cdk.json
  services/character-sheet/package.json
  services/design-system/CHANGELOG.json
  services/design-system/CHANGELOG.md
  services/design-system/cdk.json
  services/design-system/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/cdk.json
  services/email-service/package.json
  services/graphql/cdk.json
  services/graphql/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/cdk.json
  services/html-to-pdf/package.json
  services/jukebox/cdk.json
  services/jukebox/package.json
  services/jukebox/public/index.html
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/cdk.json
  services/luck-by-dice/package.json
  services/weather-control/cdk.json
  services/weather-control/package.json
Due: prettier --write

fix: add build to bundler non wait
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/constructs/package.json
  platform/create-bundle/src/create-bundle-bin.ts
  platform/lambda-layers/package.json
  platform/pipeline/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

chore: package bumps
  common/changes/@cats-cradle/authentication-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/constructs/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/email-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/faker-factory/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/html-to-pdf/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/luck-by-dice/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/nestjs-modules/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/validation-schemas/bugfix-add-build_2023-10-28-05-20.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/package.json
  services/html-to-pdf/package.json
Due: prettier --write

fix: calling nestjs build (#473)
  common/changes/@cats-cradle/authentication-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/constructs/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/email-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/faker-factory/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/html-to-pdf/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/luck-by-dice/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/nestjs-modules/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/validation-schemas/bugfix-add-build_2023-10-28-05-20.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/constructs/package.json
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/package.json
  platform/create-bundle/src/create-bundle-bin.ts
  platform/lambda-layers/package.json
  platform/pipeline/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

fix: cdk synth
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/cdk.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/design-system/cdk.json
  services/design-system/package.json
  services/email-service/package.json
  services/graphql/cdk.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/luck-by-dice/src/modules/dice-roll/dice-roll.controller.ts
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

fix: cdk synth (#474)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/cdk.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/design-system/cdk.json
  services/design-system/package.json
  services/email-service/package.json
  services/graphql/cdk.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/luck-by-dice/src/modules/dice-roll/dice-roll.controller.ts
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: pojo faker factory option
  libraries/faker-factory/src/__tests__/faker-factory.test.ts
  libraries/faker-factory/src/__tests__/pojo.test.ts
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/pojo.ts
  libraries/faker-factory/src/settings.ts
  platform/create-artifact/src/__tests__/test-data/package-output.json
Due: prettier --write, eslint --format visualstudio--fix

fix: eslint rules
  libraries/faker-factory/.eslintrc.js
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/pojo.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: chore: bump versions
  common/changes/@cats-cradle/authentication-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/create-artifact/feature-pojo-faker-factory_2023-10-28-21-42.json
  common/changes/@cats-cradle/email-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/faker-factory/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/html-to-pdf/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/nestjs-modules/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/validation-schemas/bugfix-add-build_2023-10-28-05-20.json
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write

fix: remove comment
  libraries/faker-factory/src/pojo.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: pojo faker factory (#475)
  common/changes/@cats-cradle/authentication-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/create-artifact/feature-pojo-faker-factory_2023-10-28-21-42.json
  common/changes/@cats-cradle/email-service/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/faker-factory/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/html-to-pdf/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/nestjs-modules/bugfix-add-build_2023-10-28-05-20.json
  common/changes/@cats-cradle/validation-schemas/bugfix-add-build_2023-10-28-05-20.json
  libraries/faker-factory/.eslintrc.js
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/faker-factory/src/__tests__/faker-factory.test.ts
  libraries/faker-factory/src/__tests__/pojo.test.ts
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/pojo.ts
  libraries/faker-factory/src/settings.ts
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  platform/create-artifact/src/__tests__/test-data/package-output.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: bump version
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  services/admin-client/package.json
  services/authentication-service/package.json
  services/character-sheet/package.json
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: character sheet improvements
  libraries/faker-factory/LICENSE
  libraries/promare-gradients/LICENSE
  libraries/validation-schemas/LICENSE
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/data/archetype.ts
  services/character-sheet/src/models/affiliation-embeddable.schema.ts
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/models/discipline-embeddable.schema.ts
  services/character-sheet/src/models/equipment-embeddable.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.controller.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.module.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.service.ts
  services/character-sheet/src/modules/npc/npc.module.ts
  services/luck-by-dice/LICENSE
Due: prettier --write, eslint --format visualstudio--fix

fix: license date regression
  libraries/faker-factory/LICENSE
  libraries/promare-gradients/LICENSE
  services/luck-by-dice/LICENSE
Due: none

feat: character sheet improvements (#477)
  libraries/faker-factory/LICENSE
  libraries/promare-gradients/LICENSE
  libraries/validation-schemas/LICENSE
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/data/archetype.ts
  services/character-sheet/src/models/affiliation-embeddable.schema.ts
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/models/discipline-embeddable.schema.ts
  services/character-sheet/src/models/equipment-embeddable.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.controller.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.module.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.service.ts
  services/character-sheet/src/modules/npc/npc.module.ts
  services/luck-by-dice/LICENSE
Due: prettier --write, eslint --format visualstudio--fix

fix: replace toEqual with toMatchObject for resp bodies
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/character-sheet/src/modules/affiliation/affiliation.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/npc/npc.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: replace toEqual with toMatchObject for resp bodies (#478)
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/character-sheet/src/modules/affiliation/affiliation.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/npc/npc.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add content to release template
  .github/workflows/call-release.yml
Due: none

fix: remove call out
  .github/workflows/call-release.yml
Due: none

feat: add clarity to release template (#479)
  .github/workflows/call-release.yml
Due: none

feat: release api gateway
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/api-gateway/LICENSE
  platform/api-gateway/README.md
  platform/api-gateway/cdk.json
  platform/api-gateway/package.json
Due: prettier --write

feat: release api gateway (#481)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/api-gateway/LICENSE
  platform/api-gateway/README.md
  platform/api-gateway/cdk.json
  platform/api-gateway/package.json
Due: prettier --write

chore: deccouple api gateway dependency
  platform/api-gateway/package.json
  rush.json
Due: prettier --write

chore: deccouple api gateway dependency (#482)
  platform/api-gateway/package.json
  rush.json
Due: prettier --write

feat: weather get climate
  .github/workflows/call-release.yml
  platform/aws-org-formation/README.md
  platform/aws-org-formation/bin/init.sh
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/sync.sh
  services/weather-control/README.md
  services/weather-control/src/module/weather/weather.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: weather get climate (#483)
  .github/workflows/call-release.yml
  platform/aws-org-formation/README.md
  platform/aws-org-formation/bin/init.sh
  platform/aws-org-formation/bin/organization.yml
  platform/aws-org-formation/bin/sync.sh
  services/weather-control/README.md
  services/weather-control/src/module/weather/weather.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: dice notation fake
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/faker-factory/src/__tests__/faker-factory.test.ts
  libraries/faker-factory/src/__tests__/generate-fake-data.test.ts
  libraries/faker-factory/src/__tests__/get-schemas.test.ts
  libraries/faker-factory/src/__tests__/sample-class.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/get-schemas.ts
  libraries/validation-schemas/package.json
  libraries/validation-schemas/src/custom/is-dice-notation.ts
  libraries/validation-schemas/src/custom/is-money.ts
  libraries/validation-schemas/src/index.ts
  services/weather-control/src/app.module.ts
  services/weather-control/src/module/weather/query.dto.ts
  services/weather-control/src/module/weather/weather.controller.ts
  services/weather-control/src/module/weather/weather.e2e-spec.ts
  services/weather-control/src/module/weather/weather.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: dice notation fake (#484)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/faker-factory/src/__tests__/faker-factory.test.ts
  libraries/faker-factory/src/__tests__/generate-fake-data.test.ts
  libraries/faker-factory/src/__tests__/get-schemas.test.ts
  libraries/faker-factory/src/__tests__/sample-class.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/get-schemas.ts
  libraries/validation-schemas/package.json
  libraries/validation-schemas/src/custom/is-dice-notation.ts
  libraries/validation-schemas/src/custom/is-money.ts
  libraries/validation-schemas/src/index.ts
  services/weather-control/src/app.module.ts
  services/weather-control/src/module/weather/query.dto.ts
  services/weather-control/src/module/weather/weather.controller.ts
  services/weather-control/src/module/weather/weather.e2e-spec.ts
  services/weather-control/src/module/weather/weather.module.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: clarify json schema validator
  libraries/faker-factory/src/__tests__/generate-fake-data.test.ts
  libraries/faker-factory/src/__tests__/get-json-schemas.test.ts
  libraries/faker-factory/src/__tests__/get-schemas.test.ts
  libraries/faker-factory/src/__tests__/schemas.test.ts
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/get-json-schemas.ts
  libraries/faker-factory/src/get-schemas.ts
  libraries/faker-factory/src/schemas.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: unify json schema getters (#485)
  libraries/faker-factory/src/__tests__/generate-fake-data.test.ts
  libraries/faker-factory/src/__tests__/get-json-schemas.test.ts
  libraries/faker-factory/src/__tests__/schemas.test.ts
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/get-json-schemas.ts
  libraries/faker-factory/src/schemas.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add lat and long fake
  libraries/faker-factory/src/__tests__/get-json-schemas.test.ts
  libraries/faker-factory/src/__tests__/sample-class.ts
  libraries/faker-factory/src/get-json-schemas.ts
  libraries/validation-schemas/src/index.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write

chore: remove dead code
  libraries/faker-factory/src/__tests__/get-schemas.test.ts
  libraries/faker-factory/src/get-schemas.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: lat and long fake (#486)
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/faker-factory/src/__tests__/get-json-schemas.test.ts
  libraries/faker-factory/src/__tests__/get-schemas.test.ts
  libraries/faker-factory/src/__tests__/sample-class.ts
  libraries/faker-factory/src/get-json-schemas.ts
  libraries/faker-factory/src/get-schemas.ts
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  libraries/validation-schemas/src/index.ts
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write, eslint --format visualstudio--fix
