Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

fix: grant write permisions for release
  .github/workflows/call-release.yml
Due: none

fix: remove node issue from release github action
  .github/workflows/call-release.yml
Due: none

feat: add diagram
  .github/workflows/call-release.yml
  README.md
  docs/architecture.drawio
  docs/architecture.png
Due: prettier --write

feat: add diagram (#453)
  .github/workflows/call-release.yml
  README.md
  docs/architecture.drawio
  docs/architecture.png
Due: prettier --write

feat: update diagrams
  docs/architecture.png
  docs/architecture.xml
Due: none

Feature/add no pretty diagram (#454)
  docs/architecture.png
  docs/architecture.xml
Due: none

feat: update diagram
  README.md
  docs/architecture-diagram.png
Due: prettier --write

feat: update diagram (#457)
  README.md
  docs/architecture-diagram.png
Due: prettier --write

feat: update flowchart
  README.md
  docs/architecture-diagram.png
  docs/architecture.drawio
  docs/flowchart.drawio
  docs/flowchart.png
Due: prettier --write

fix: url on flow chart
  README.md
Due: prettier --write

feat: update flowchart (#458)
  README.md
  docs/architecture-diagram.png
  docs/architecture.drawio
  docs/flowchart.drawio
  docs/flowchart.png
Due: prettier --write

fix: type-o in diagram
  README.md
  docs/flowchart.drawio
  docs/flowchart.drawio.png
  docs/flowchart.png
Due: prettier --write

fix: type-o in diagram (#459)
  README.md
  docs/flowchart.drawio
  docs/flowchart.drawio.png
  docs/flowchart.png
Due: prettier --write

feat: change release on tag
  .github/workflows/call-release.yml
Due: none

feat: change release on tag (#460)
  .github/workflows/call-release.yml
Due: none

feat: update diagram
  README.md
  docs/flow-chart-dark.drawio.svg
  docs/flow-chart-light.drawio.svg
  docs/flow-chart.drawio
  docs/flowchart.drawio
  docs/flowchart.png
Due: prettier --write

feat: update diagram (#461)
  README.md
  docs/flow-chart-dark.drawio.svg
  docs/flow-chart-light.drawio.svg
  docs/flow-chart.drawio
  docs/flowchart.drawio
  docs/flowchart.drawio.png
Due: prettier --write

fix: owners name in release job
  .github/workflows/call-release.yml
Due: none

fix: owners name in release job (#462)
  .github/workflows/call-release.yml
Due: none

feat: change bundle-project to create-artifact
  .github/workflows/call-deploy.yml
  .github/workflows/call-release.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundle-project/.eslintrc.js
  platform/create-artifact/.eslintrc.js
  platform/create-artifact/CHANGELOG.json
  platform/create-artifact/CHANGELOG.md
  platform/create-artifact/LICENSE
  platform/create-artifact/README.md
  platform/create-artifact/bin/bundle-project
  platform/create-artifact/jest.config.js
  platform/create-artifact/package.json
  platform/create-artifact/src/__tests__/test-data/package-output.json
  platform/create-artifact/src/__tests__/workspace-decouple.test.ts
  platform/create-artifact/src/bin-bundle-project.ts
  platform/create-artifact/src/index.ts
  platform/create-artifact/src/main.ts
  platform/create-artifact/src/types/cli.ts
  platform/create-artifact/src/util/archive.ts
  platform/create-artifact/src/util/args-parser.ts
  platform/create-artifact/src/util/json.ts
  platform/create-artifact/src/util/package-bundler.ts
  platform/create-artifact/src/util/target-package.ts
  platform/create-artifact/src/util/workspace-decouple.ts
  platform/create-artifact/src/util/workspace.ts
  platform/create-artifact/tsconfig.json
  pnpm-lock.yaml
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

feat: change bundle-project to create-artifact (#463)
  .github/workflows/call-deploy.yml
  .github/workflows/call-release.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/command-line.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundle-project/.eslintrc.js
  platform/create-artifact/.eslintrc.js
  platform/create-artifact/CHANGELOG.json
  platform/create-artifact/CHANGELOG.md
  platform/create-artifact/LICENSE
  platform/create-artifact/README.md
  platform/create-artifact/bin/bundle-project
  platform/create-artifact/jest.config.js
  platform/create-artifact/package.json
  platform/create-artifact/src/__tests__/test-data/package-output.json
  platform/create-artifact/src/__tests__/workspace-decouple.test.ts
  platform/create-artifact/src/bin-bundle-project.ts
  platform/create-artifact/src/index.ts
  platform/create-artifact/src/main.ts
  platform/create-artifact/src/types/cli.ts
  platform/create-artifact/src/util/archive.ts
  platform/create-artifact/src/util/args-parser.ts
  platform/create-artifact/src/util/json.ts
  platform/create-artifact/src/util/package-bundler.ts
  platform/create-artifact/src/util/target-package.ts
  platform/create-artifact/src/util/workspace-decouple.ts
  platform/create-artifact/src/util/workspace.ts
  platform/create-artifact/tsconfig.json
  pnpm-lock.yaml
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

feat: create change artifact
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/CHANGELOG.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/package.json
Due: prettier --write

chore: bump changelog
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat: create change artifact (#464)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/CHANGELOG.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: create artifact
  platform/create-artifact/bin/create-artifact
  platform/create-artifact/src/bin-create-artifact.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump create artifact to latest
  platform/create-artifact/CHANGELOG.json
  platform/create-artifact/CHANGELOG.md
  platform/create-artifact/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: change create artifact cmd (#465)
  platform/create-artifact/CHANGELOG.json
  platform/create-artifact/CHANGELOG.md
  platform/create-artifact/bin/create-artifact
  platform/create-artifact/package.json
  platform/create-artifact/src/bin-create-artifact.ts
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write, eslint --format visualstudio--fix

fix: decrease verison until published
  README.md
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

fix: decrease verison until published (#466)
  README.md
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: bump version
  README.md
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/README.md
  platform/README.md
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: bump version (#467)
  README.md
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/README.md
  platform/README.md
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
Due: prettier --write

feat: add html-to-pdf to deploy
  services/html-to-pdf/package.json
Due: prettier --write

feat: add html-to-pdf to deploy (#468)
  services/html-to-pdf/package.json
Due: prettier --write

feat: html to pdf margin and content type improvement
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/download-lambda-layer.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: html to pdf margin and content type improvement (#469)
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/download-lambda-layer.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add bundler watch
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundlers/package.json
  platform/bundlers/src/__tests__/nestjs-bundler.test.ts
  platform/bundlers/src/__tests__/test-data/nestjs/src/index.ts
  platform/bundlers/src/bin-nestjs.ts
  platform/bundlers/src/index.ts
  platform/bundlers/src/profiles/nestjs-bundler.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump version
  platform/bundlers/CHANGELOG.json
  platform/bundlers/CHANGELOG.md
  platform/bundlers/package.json
Due: prettier --write

feat: rename bundler to create-bundle
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/create-bundle/.eslintrc.js
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/LICENSE.md
  platform/create-bundle/README.md
  platform/create-bundle/jest.config.js
  platform/create-bundle/package.json
  platform/create-bundle/src/__tests__/nestjs-bundler.test.ts
  platform/create-bundle/src/__tests__/test-data/nestjs/src/index.ts
  platform/create-bundle/src/__tests__/test-data/nestjs/tsconfig.json
  platform/create-bundle/src/create-bundle-bin.ts
  platform/create-bundle/src/index.ts
  platform/create-bundle/src/profiles/nestjs-bundler.ts
  platform/create-bundle/tsconfig.json
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/package.json
Due: prettier --write
