Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: add admin client deployment
  clients/admin-client/bin/app.ts
  clients/admin-client/cdk.json
  clients/admin-client/package.json
  clients/admin-client/stacks/admin-client.stack.ts
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/rigs/base-nodejs/profiles/react-app/tsconfig-base.json
Due: prettier --write, eslint --format visualstudio--fix

feat: deploy clients
  clients/admin-client/bin/app.ts
  clients/admin-client/cdk.json
  clients/admin-client/package.json
  clients/admin-client/stacks/admin-client.stack.test.ts
  clients/admin-client/stacks/admin-client.stack.ts
  clients/admin-client/tsconfig-build.json
  clients/admin-client/tsconfig.json
  clients/admin-client/tsconfig.node.json
  clients/design-system/stacks/design-system.stack.ts
  common/config/rush/browser-approved-packages.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  rush.json
  services/jukebox/stacks/__snapshots__/audio-service.stack.test.ts.snap
Due: prettier --write, eslint --format visualstudio--fix

feat: deploy clients (#801)
  clients/admin-client/bin/app.ts
  clients/admin-client/cdk.json
  clients/admin-client/package.json
  clients/admin-client/stacks/admin-client.stack.test.ts
  clients/admin-client/stacks/admin-client.stack.ts
  clients/admin-client/tsconfig-build.json
  clients/admin-client/tsconfig.json
  clients/admin-client/tsconfig.node.json
  clients/design-system/stacks/design-system.stack.ts
  common/config/rush/browser-approved-packages.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  rush.json
  services/jukebox/stacks/__snapshots__/audio-service.stack.test.ts.snap
Due: prettier --write, eslint --format visualstudio--fix

feat: add footer links
  clients/admin-client/.env.dist
  clients/admin-client/src/App.tsx
  clients/admin-client/tsconfig-build.json
  common/config/rush/browser-approved-packages.json
Due: prettier --write

feat: auto delete build assets
  clients/admin-client/stacks/admin-client.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add footer links to admin client (#802)
  clients/admin-client/.env.dist
  clients/admin-client/src/App.tsx
  clients/admin-client/stacks/admin-client.stack.ts
  clients/admin-client/tsconfig-build.json
  common/config/rush/browser-approved-packages.json
Due: prettier --write, eslint --format visualstudio--fix

fix: unit tests for stacks
  clients/design-system/stacks/__snapshots__/design-system.stack.test.ts.snap
  clients/design-system/stacks/design-system.stack.test.ts
  clients/design-system/stacks/design-system.stack.ts
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/lambda-layers/stacks/nestjs-layer.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: unit tests for stacks (#803)
  clients/design-system/stacks/__snapshots__/design-system.stack.test.ts.snap
  clients/design-system/stacks/design-system.stack.test.ts
  clients/design-system/stacks/design-system.stack.ts
  platform/lambda-layers/stacks/__snapshots__/nestjs-layer.stack.test.ts.snap
  platform/lambda-layers/stacks/nestjs-layer.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: create artifact for clients
  clients/admin-client/package.json
  clients/design-system/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
Due: prettier --write

feat: create artifact for clients (#804)
  clients/admin-client/package.json
  clients/design-system/package.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
Due: prettier --write

feat: sandbox deployment
  .github/workflows/call-deploy.yml
  .github/workflows/on-pull-request.yml
Due: none

feat: move labeled to on workflow template
  .github/workflows/on-labeled.yml
  .github/workflows/on-pull-request.yml
Due: none

fix: change label conditions
  .github/workflows/on-labeled.yml
Due: none

feat: sandbox deploy (#805)
  .github/workflows/call-deploy.yml
  .github/workflows/on-labeled.yml
Due: none

feat: flesh in api router
  clients/admin-client/src/App.tsx
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  rush.json
  services/api/cdk.json
  services/api/openapi-spec.json
  services/api/package.json
  services/api/src/app.module.ts
  services/api/src/index.ts
  services/api/src/main.ts
  services/api/src/modules/router/router.controller.ts
  services/api/src/modules/router/router.service.ts
  services/api/stacks/main.stack.ts
  services/luck-by-dice/src/modules/dice-roll/dice-roll.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: remove tree designs
  README.md
  clients/design-system/README.md
  clients/design-system/stacks/design-system.stack.ts
  clients/design-system/tree-designer.png
  clients/jukebox/README.md
  clients/jukebox/tree-designer.png
  services/authentication-service/README.md
  services/authentication-service/tree-designer.png
  services/character-sheet/README.md
  services/character-sheet/tree-designer.png
  services/email-service/README.md
  services/email-service/tree-designer.png
  services/html-to-pdf/README.md
  services/html-to-pdf/tree-designer.png
  services/luck-by-dice/README.md
  services/luck-by-dice/tree-designer.png
  services/player-achievements/README.md
  services/player-achievements/tree-designer.png
  services/weather-control/README.md
  services/weather-control/tree-designer.png
Due: prettier --write, eslint --format visualstudio--fix

fix: api get response
  services/api/src/modules/router/router.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add routes
  services/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: api get response (#808)
  services/api/src/modules/router/router.service.ts
  services/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: env declaration
  services/api/.env.dist
  services/api/src/modules/router/router.service.ts
  services/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

Bugfix/api get route (#809)
  services/api/.env.dist
  services/api/src/modules/router/router.service.ts
  services/api/stacks/main.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add middleware
  .github/README.md
  README.md
  clients/README.md
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  docs/architecture-guidelines.md
  docs/recommended-packages.md
  middleware/README.md
  middleware/api/.env.dist
  middleware/api/.eslintrc.js
  middleware/api/LICENSE
  middleware/api/README.md
  middleware/api/bin/app.ts
  middleware/api/cdk.context.json
  middleware/api/cdk.json
  middleware/api/jest.config.json
  middleware/api/openapi-spec.json
  middleware/api/package.json
  middleware/api/src/app.module.ts
  middleware/api/src/index.ts
  middleware/api/src/main.ts
  middleware/api/src/modules/health/health.controller.ts
  middleware/api/src/modules/health/health.e2e-spec.ts
  middleware/api/src/modules/health/health.module.ts
  middleware/api/src/modules/router/router.controller.ts
  middleware/api/src/modules/router/router.e2e-spec.ts
  middleware/api/src/modules/router/router.module.ts
  middleware/api/src/modules/router/router.service.ts
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/api/stacks/main.stack.test.ts
  middleware/api/stacks/main.stack.ts
  middleware/api/tsconfig.json
  platform/README.md
  rush.json
  services/README.md
Due: prettier --write, eslint --format visualstudio--fix

feat: add middleware (#810)
  .github/README.md
  README.md
  clients/README.md
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  docs/architecture-guidelines.md
  docs/recommended-packages.md
  middleware/README.md
  middleware/api/.env.dist
  middleware/api/.eslintrc.js
  middleware/api/LICENSE
  middleware/api/README.md
  middleware/api/bin/app.ts
  middleware/api/cdk.context.json
  middleware/api/cdk.json
  middleware/api/jest.config.json
  middleware/api/openapi-spec.json
  middleware/api/package.json
  middleware/api/src/app.module.ts
  middleware/api/src/index.ts
  middleware/api/src/main.ts
  middleware/api/src/modules/health/health.controller.ts
  middleware/api/src/modules/health/health.e2e-spec.ts
  middleware/api/src/modules/health/health.module.ts
  middleware/api/src/modules/router/router.controller.ts
  middleware/api/src/modules/router/router.e2e-spec.ts
  middleware/api/src/modules/router/router.module.ts
  middleware/api/src/modules/router/router.service.ts
  middleware/api/stacks/__snapshots__/main.stack.test.ts.snap
  middleware/api/stacks/main.stack.test.ts
  middleware/api/stacks/main.stack.ts
  middleware/api/tsconfig.json
  platform/README.md
  rush.json
  services/README.md
Due: prettier --write, eslint --format visualstudio--fix

fix: update readmes
  .github/README.md
  docs/recommended-packages.md
  libraries/README.md
  libraries/nestjs-modules/README.md
  platform/pipeline/README.md
  services/README.md
Due: prettier --write

fix: update readmes (#811)
  .github/README.md
  docs/recommended-packages.md
  libraries/README.md
  libraries/nestjs-modules/README.md
  platform/pipeline/README.md
  services/README.md
Due: prettier --write

feat: move graphql to middleware
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  middleware/graphql/.eslintrc.js
  middleware/graphql/README.md
  middleware/graphql/bin/app.ts
  middleware/graphql/cdk.json
  middleware/graphql/graphql/schema.graphql
  middleware/graphql/package.json
  middleware/graphql/stacks/app-sync.stack.test.ts
  middleware/graphql/stacks/app-sync.stack.ts
  middleware/graphql/tsconfig.json
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

feat: move graphql to middleware (#812)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  middleware/graphql/.eslintrc.js
  middleware/graphql/README.md
  middleware/graphql/bin/app.ts
  middleware/graphql/cdk.json
  middleware/graphql/graphql/schema.graphql
  middleware/graphql/package.json
  middleware/graphql/stacks/app-sync.stack.test.ts
  middleware/graphql/stacks/app-sync.stack.ts
  middleware/graphql/tsconfig.json
  rush.json
Due: prettier --write, eslint --format visualstudio--fix

Update README.md
  middleware/README.md
Due: prettier --write

chore: update README.md (#814)
  middleware/README.md
Due: prettier --write

feat: add details section to readme
  README.md
Due: prettier --write

feat: update architecture guidelines
  docs/architecture-guidelines.md
Due: prettier --write

feat: update readme details (#816)
  README.md
  docs/architecture-guidelines.md
Due: prettier --write

feat: update diagrams
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
Due: none

feat: update diagrams (#817)
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
Due: none
