Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

feat: improve fakes
  libraries/faker-factory/src/__tests__/get-json-schemas.test.ts
  libraries/faker-factory/src/__tests__/sample-class.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/get-json-schemas.ts
  libraries/validation-schemas/README.md
  libraries/validation-schemas/src/custom/is-uuidv4.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: improve fakes (#487)
  libraries/faker-factory/src/__tests__/get-json-schemas.test.ts
  libraries/faker-factory/src/__tests__/sample-class.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/get-json-schemas.ts
  libraries/validation-schemas/README.md
  libraries/validation-schemas/src/custom/is-uuidv4.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: refactor faker factory tests
  libraries/faker-factory/.eslintrc.js
  libraries/faker-factory/src/faker-factory.test.ts
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/generate-fake-data.test.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/get-json-schemas.test.ts
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/pojo.test.ts
  libraries/faker-factory/src/settings.type.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write

feat: refactor faker tests (#488)
  libraries/faker-factory/.eslintrc.js
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/faker-factory/src/faker-factory.test.ts
  libraries/faker-factory/src/faker-factory.ts
  libraries/faker-factory/src/generate-fake-data.test.ts
  libraries/faker-factory/src/generate-fake-data.ts
  libraries/faker-factory/src/get-json-schemas.test.ts
  libraries/faker-factory/src/index.ts
  libraries/faker-factory/src/pojo.test.ts
  libraries/faker-factory/src/settings.type.ts
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write, eslint --format visualstudio--fix

fix: too pojo check
  libraries/faker-factory/src/pojo.test.ts
  libraries/faker-factory/src/pojo.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: to pojo false check (#489)
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/faker-factory/src/pojo.test.ts
  libraries/faker-factory/src/pojo.ts
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add test coverage to weather and characters
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/create-character-sheet-dto.ts
  services/character-sheet/src/modules/npc/create-spawn-dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add test coverage to weather and characters
  README.md
  services/character-sheet/openapi-spec.json
  services/character-sheet/package.json
  services/weather-control/src/module/weather/query.dto.ts
  services/weather-control/src/module/weather/weather.controller.ts
  services/weather-control/src/module/weather/weather.e2e-spec.ts
  services/weather-control/src/module/weather/weather.service.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: query.dto.ts
  services/weather-control/src/module/weather/query.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: update shrinkwrap
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

fix: switch to library validators
  services/character-sheet/src/modules/affiliation/update-affiliation.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: increase test coverage in weather service (#490)
  README.md
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/character-sheet/openapi-spec.json
  services/character-sheet/package.json
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/modules/affiliation/update-affiliation.dto.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/create-character-sheet-dto.ts
  services/character-sheet/src/modules/npc/create-spawn-dto.ts
  services/weather-control/src/module/weather/query.dto.ts
  services/weather-control/src/module/weather/weather.controller.ts
  services/weather-control/src/module/weather/weather.e2e-spec.ts
  services/weather-control/src/module/weather/weather.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: change coverage selection
  platform/rush-coverage/jest.config.js
Due: none

feat: refine coverage directory
  platform/rigs/base-nodejs/profiles/nestjs-app/jest.config.json
  platform/rush-coverage/jest.config.js
Due: prettier --write

chore: bump versions
  common/changes/@cats-cradle/luck-by-dice/bugfix-add-build_2023-10-28-05-20.json
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/package.json
  platform/rigs/base-nodejs/CHANGELOG.json
  platform/rigs/base-nodejs/CHANGELOG.md
  platform/rigs/base-nodejs/package.json
  platform/rush-coverage/CHANGELOG.json
  platform/rush-coverage/CHANGELOG.md
  platform/rush-coverage/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

feat: change coverage collection (#491)
  common/changes/@cats-cradle/luck-by-dice/bugfix-add-build_2023-10-28-05-20.json
  libraries/faker-factory/CHANGELOG.json
  libraries/faker-factory/CHANGELOG.md
  libraries/faker-factory/package.json
  libraries/nestjs-modules/CHANGELOG.json
  libraries/nestjs-modules/CHANGELOG.md
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  platform/create-bundle/CHANGELOG.json
  platform/create-bundle/CHANGELOG.md
  platform/create-bundle/package.json
  platform/rigs/base-nodejs/CHANGELOG.json
  platform/rigs/base-nodejs/CHANGELOG.md
  platform/rigs/base-nodejs/package.json
  platform/rigs/base-nodejs/profiles/nestjs-app/jest.config.json
  platform/rush-coverage/CHANGELOG.json
  platform/rush-coverage/CHANGELOG.md
  platform/rush-coverage/jest.config.js
  platform/rush-coverage/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

feat: flesh in weather influence
  services/weather-control/src/module/weather/create.dto.ts
  services/weather-control/src/module/weather/response.dto.ts
  services/weather-control/src/module/weather/weather.controller.ts
  services/weather-control/src/module/weather/weather.e2e-spec.ts
  services/weather-control/src/module/weather/weather.service.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: mimic actions
  .github/workflows/call-coverage.yml
  .github/workflows/call-deploy.yml
Due: none

feat: flesh in weather influence (#492)
  .github/workflows/call-coverage.yml
  .github/workflows/call-deploy.yml
  services/weather-control/src/module/weather/create.dto.ts
  services/weather-control/src/module/weather/response.dto.ts
  services/weather-control/src/module/weather/weather.controller.ts
  services/weather-control/src/module/weather/weather.e2e-spec.ts
  services/weather-control/src/module/weather/weather.service.ts
Due: prettier --write, eslint --format visualstudio--fix

wip: saving pr
  platform/cli-tools/rush-coverage/src/merge-coverage-reports.ts
  platform/lambda-layers/stacks/nestjs-lambda-layer.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: skip flaky unit test
  services/weather-control/src/module/weather/weather.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: update pipelines snapshot for unit tests
  platform/pipeline/stacks/__snapshots__/default-pipeline.stack.test.ts.snap
  platform/pipeline/stacks/default-pipeline.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: update snaps
  platform/api-gateway/stacks/__snapshots__/api-gateway.stack.test.ts.snap
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/character-sheet/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/email-service/stacks/__snapshots__/email-service.stack.test.ts.snap
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/luck-by-dice/stacks/__snapshots__/luck-by-dice.stack.test.ts.snap
Due: prettier --write

fix: deployment hash dynamic in snapshot
  platform/api-gateway/stacks/__snapshots__/api-gateway.stack.test.ts.snap
  platform/api-gateway/stacks/api-gateway.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: deep clone issue
  .github/workflows/call-coverage.yml
Due: none

fix: skip flaky test
  platform/pipeline/src/__tests__/get-changed-projects.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: typescript detection
  .gitattributes
Due: none

fix: eslint bin issue
  services/authentication-service/stacks/__snapshots__/auth-service.stack.test.ts.snap
  services/authentication-service/stacks/auth-service.stack.test.ts
  services/character-sheet/stacks/__snapshots__/character-sheet.stack.test.ts.snap
  services/character-sheet/stacks/character-sheet.stack.test.ts
  services/design-system/bin/app.ts
  services/design-system/stacks/design-system.stack.test.ts
  services/design-system/stacks/design-system.stack.ts
  services/design-system/tsconfig.json
  services/email-service/stacks/__snapshots__/email-service.stack.test.ts.snap
  services/email-service/stacks/email-service.stack.test.ts
  services/graphql/stacks/app-sync.stack.test.ts
  services/html-to-pdf/stacks/__snapshots__/html-to-pdf.stack.test.ts.snap
  services/html-to-pdf/stacks/html-to-pdf.stack.test.ts
  services/jukebox/stacks/__snapshots__/audio-service.stack.test.ts.snap
  services/jukebox/stacks/audio-service.stack.test.ts
  services/luck-by-dice/stacks/__snapshots__/luck-by-dice.stack.test.ts.snap
  services/luck-by-dice/stacks/luck-by-dice.stack.test.ts
  services/weather-control/stacks/__snapshots__/weather-control.stack.test.ts.snap
  services/weather-control/stacks/weather-control.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove duplicate mongo db config
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: zip file on unit tests
  services/html-to-pdf/stacks/html-to-pdf.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove duplicate mongo db config (#494)
  libraries/nestjs-modules/package.json
  services/html-to-pdf/stacks/html-to-pdf.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: flaxy unit tests
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-lambda-layer.stack.test.ts.snap
  platform/pipeline/package.json
  services/admin-client/package.json
  services/authentication-service/package.json
  services/character-sheet/package.json
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

fix: flaky snapshop
  platform/lambda-layers/stacks/__snapshots__/nestjs-lambda-layer.stack.test.ts.snap
  platform/lambda-layers/stacks/nestjs-lambda-layer.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: flaxy unit tests (#495)
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/lambda-layers/stacks/__snapshots__/nestjs-lambda-layer.stack.test.ts.snap
  platform/lambda-layers/stacks/nestjs-lambda-layer.stack.test.ts
  platform/pipeline/package.json
  services/admin-client/package.json
  services/authentication-service/package.json
  services/character-sheet/package.json
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/email-service/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
