Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

fix: linting issue
  .lintstagedrc.json
Due: prettier --write

chore: update aws cdk version for synth
  .github/workflows/call-cdk-synth.yml
Due: none

chore: update aws cdk version for synth (#418)
  .github/workflows/call-cdk-synth.yml
Due: none

feat: add github actions extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier --write

feat: add GitHub actions extension (#419)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier --write

feat: update mongodb
  .vscode/settings.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/nestjs-modules/package.json
  platform/bundle-project/src/__tests__/test-data/package-output.json
  platform/constructs/src/__tests__/test-data/test.js
  services/character-sheet/jest-mongodb-config.js
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/data/archetype.ts
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.module.ts
  services/email-service/package.json
  services/html-to-pdf/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: update mongodb (#420)
  .vscode/settings.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/nestjs-modules/package.json
  platform/bundle-project/src/__tests__/test-data/package-output.json
  platform/constructs/src/__tests__/test-data/test.js
  services/character-sheet/jest-mongodb-config.js
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/data/archetype.ts
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.module.ts
  services/email-service/package.json
  services/html-to-pdf/package.json
Due: prettier --write, eslint --format visualstudio--fix

fea: s s
  Dockerfile
  commitlint.config.js
  common/git-hooks/commit-msg
Due: none

fea e e
  common/git-hooks/commit-msg
Due: none

feat: w w
  common/git-hooks/commit-msg
Due: none

feat: fix commit lint
  common/git-hooks/commit-msg
Due: none

chore: remove old code
  git
  git-conventional-commits.yaml
Due: none

feat: switch to commitlint (#421)
  Dockerfile
  commitlint.config.js
  common/git-hooks/commit-msg
  git
  git-conventional-commits.yaml
Due: none

feat: add character default
  commitlint.config.js
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/data/archetype.ts
  services/character-sheet/src/modules/character-sheet/create-character-sheet-dto.ts
  services/character-sheet/src/modules/npc/create-spawn-dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add character default (#422)
  commitlint.config.js
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/data/archetype.ts
  services/character-sheet/src/modules/character-sheet/create-character-sheet-dto.ts
  services/character-sheet/src/modules/npc/create-spawn-dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat(user): flesh in authentication service
  .devcontainer/docker-compose.yml
  commitlint.config.js
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/rigs/base-nodejs/profiles/nestjs-app/tsconfig-base.json
  rush.json
  services/authentication-service/.env.dist
  services/authentication-service/.eslintrc.js
  services/authentication-service/README.md
  services/authentication-service/bin/app.js
  services/authentication-service/bin/app.ts
  services/authentication-service/cdk.json
  services/authentication-service/jest-mongodb-config.js
  services/authentication-service/jest.config.json
  services/authentication-service/openapi-spec.json
  services/authentication-service/package.json
  services/authentication-service/src/app.module.ts
  services/authentication-service/src/index.ts
  services/authentication-service/src/main.ts
  services/authentication-service/src/models/user.repository.ts
  services/authentication-service/src/models/user.schema.ts
  services/authentication-service/src/modules/health/health.controller.ts
  services/authentication-service/src/modules/health/health.e2e-spec.ts
  services/authentication-service/src/modules/health/health.module.ts
  services/authentication-service/src/modules/user/create-user.dto.ts
  services/authentication-service/src/modules/user/query-user.dto.ts
  services/authentication-service/src/modules/user/user.controller.ts
  services/authentication-service/src/modules/user/user.e2e.ts
  services/authentication-service/src/modules/user/user.module.ts
  services/authentication-service/src/modules/user/user.service.ts
  services/authentication-service/stacks/main-stack.ts
  services/authentication-service/tsconfig.json
  services/character-sheet/openapi-spec.json
  services/character-sheet/pnpm-lock.yaml
  services/character-sheet/src/app.module.ts
Due: prettier --write, eslint --format visualstudio--fix

fix(user): authentication service description
  services/authentication-service/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

chore(user): decouple auth service dependencies
  rush.json
Due: prettier --write

feat(user): flesh in authentication service (#423)
  .devcontainer/docker-compose.yml
  commitlint.config.js
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/rigs/base-nodejs/profiles/nestjs-app/tsconfig-base.json
  rush.json
  services/authentication-service/.env.dist
  services/authentication-service/.eslintrc.js
  services/authentication-service/README.md
  services/authentication-service/bin/app.js
  services/authentication-service/bin/app.ts
  services/authentication-service/cdk.json
  services/authentication-service/jest-mongodb-config.js
  services/authentication-service/jest.config.json
  services/authentication-service/openapi-spec.json
  services/authentication-service/package.json
  services/authentication-service/src/app.module.ts
  services/authentication-service/src/index.ts
  services/authentication-service/src/main.ts
  services/authentication-service/src/models/user.repository.ts
  services/authentication-service/src/models/user.schema.ts
  services/authentication-service/src/modules/health/health.controller.ts
  services/authentication-service/src/modules/health/health.e2e-spec.ts
  services/authentication-service/src/modules/health/health.module.ts
  services/authentication-service/src/modules/user/create-user.dto.ts
  services/authentication-service/src/modules/user/query-user.dto.ts
  services/authentication-service/src/modules/user/user.controller.ts
  services/authentication-service/src/modules/user/user.e2e.ts
  services/authentication-service/src/modules/user/user.module.ts
  services/authentication-service/src/modules/user/user.service.ts
  services/authentication-service/stacks/main-stack.ts
  services/authentication-service/tsconfig.json
  services/character-sheet/openapi-spec.json
  services/character-sheet/pnpm-lock.yaml
  services/character-sheet/src/app.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat(user): add cognito user pool
  services/authentication-service/bin/app.js
  services/authentication-service/openapi-spec.json
  services/authentication-service/stacks/cognito-pool.ts
  services/authentication-service/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: cognito user pool (#426)
  services/authentication-service/openapi-spec.json
  services/authentication-service/stacks/cognito-pool.ts
  services/authentication-service/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in auth service
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.module.ts
  services/authentication-service/src/modules/auth/auth.service.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/jwt-auth.guard.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: update lock files
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
Due: prettier --write

feat: cognito user pool (#428)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/authentication-service/package.json
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.module.ts
  services/authentication-service/src/modules/auth/auth.service.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/jwt-auth.guard.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: upgrade storybook
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  pnpm-lock.yaml
  services/design-system/package.json
Due: prettier --write

feat: upgrade storybook (#429)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  pnpm-lock.yaml
  services/design-system/package.json
Due: prettier --write

feat: cognito pool endpoints
  services/authentication-service/.env.dist
  services/authentication-service/openapi-spec.json
  services/authentication-service/src/app.module.ts
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.module.ts
  services/authentication-service/src/modules/auth/forgot-password-dto.ts
  services/authentication-service/src/modules/auth/login-dto.ts
  services/authentication-service/src/modules/auth/reset-password-dto.ts
  services/authentication-service/stacks/cognito-pool.ts
  services/authentication-service/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: cognito pool endpoints (#430)
  services/authentication-service/.env.dist
  services/authentication-service/openapi-spec.json
  services/authentication-service/src/app.module.ts
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/auth.module.ts
  services/authentication-service/src/modules/auth/forgot-password-dto.ts
  services/authentication-service/src/modules/auth/login-dto.ts
  services/authentication-service/src/modules/auth/reset-password-dto.ts
  services/authentication-service/stacks/cognito-pool.ts
  services/authentication-service/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add client pool
  services/authentication-service/README.md
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/sign-up-dto.ts
  services/authentication-service/stacks/cognito-pool.ts
  services/authentication-service/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: cognito user auth endpoint (#431)
  services/authentication-service/README.md
  services/authentication-service/src/modules/auth/auth.controller.ts
  services/authentication-service/src/modules/auth/cognito.service.ts
  services/authentication-service/src/modules/auth/sign-up-dto.ts
  services/authentication-service/stacks/cognito-pool.ts
  services/authentication-service/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add auth signup e2e test
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/stacks/cognito-pool.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add auth signup e2e test (#432)
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/stacks/cognito-pool.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add auth test cov
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/src/modules/auth/auth.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add auth test cov (#433)
  services/authentication-service/src/modules/auth/auth.e2e-spec.ts
  services/authentication-service/src/modules/auth/auth.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: jwt progress and pkg updates
  README.md
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  services/authentication-service/openapi-spec.json
  services/authentication-service/package.json
  services/authentication-service/src/modules/auth/auth.module.ts
  services/authentication-service/src/modules/auth/constants.ts
  services/authentication-service/src/modules/auth/jwt.strategy.ts
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: jwt progress and pkg updates (#435)
  README.md
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  services/authentication-service/openapi-spec.json
  services/authentication-service/package.json
  services/authentication-service/src/modules/auth/auth.module.ts
  services/authentication-service/src/modules/auth/constants.ts
  services/authentication-service/src/modules/auth/jwt.strategy.ts
  services/billing-system/package.json
  services/character-sheet/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add affiliation endpoints
  services/character-sheet/src/data/affiliations.ts
  services/character-sheet/src/models/affiliation-embeddable.schema.ts
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/modules/affilation/affiliation.controller.ts
  services/character-sheet/src/modules/affilation/affiliation.e2e-spec.ts
  services/character-sheet/src/modules/affilation/affiliation.module.ts
  services/character-sheet/src/modules/affilation/affiliation.service.ts
  services/character-sheet/src/modules/affilation/query-affiliation.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
