Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

fix: hmr linting issue
  services/design-system/src/SelectChangeEvent.ts
  services/design-system/src/components/Alert/Alert.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/LoadingButton.tsx
  services/design-system/src/components/Checkbox/Checkbox.tsx
  services/design-system/src/components/CodeSnippet/CodeSnippet.tsx
  services/design-system/src/components/CodeSnippet/CodeSnippetProps.ts
  services/design-system/src/components/CodeSnippet/hljs-custom.ts
  services/design-system/src/components/Gauge/Gauge.tsx
  services/design-system/src/components/Gauge/GaugeProps.ts
  services/design-system/src/components/Icons/Icons.ts
  services/design-system/src/components/Layout/Layout.tsx
  services/design-system/src/components/Link/Link.tsx
  services/design-system/src/components/Link/NonInteractiveLink.tsx
  services/design-system/src/components/Mui/Typography.tsx
  services/design-system/src/components/Mui/index.ts
  services/design-system/src/components/Mui/index.tsx
  services/design-system/src/components/Spinner/Spinner.tsx
  services/design-system/src/components/TextField/TextField.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: build admin client issue
  services/design-system/src/components/CodeSnippet/CodeSnippet.tsx
  services/design-system/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: attribute missing
  services/admin-client/components/DiceAnalyzer.tsx
Due: none

fix: remove invalid props
  services/admin-client/components/DiceAnalyzer.tsx
Due: none

fix: hmr linting issue (#746)
  services/admin-client/components/DiceAnalyzer.tsx
  services/design-system/src/SelectChangeEvent.ts
  services/design-system/src/components/Alert/Alert.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/LoadingButton.tsx
  services/design-system/src/components/Checkbox/Checkbox.tsx
  services/design-system/src/components/CodeSnippet/CodeSnippet.tsx
  services/design-system/src/components/CodeSnippet/CodeSnippetProps.ts
  services/design-system/src/components/CodeSnippet/hljs-custom.ts
  services/design-system/src/components/Gauge/Gauge.tsx
  services/design-system/src/components/Gauge/GaugeProps.ts
  services/design-system/src/components/Icons/Icons.ts
  services/design-system/src/components/Layout/Layout.tsx
  services/design-system/src/components/Link/Link.tsx
  services/design-system/src/components/Link/NonInteractiveLink.tsx
  services/design-system/src/components/Mui/Typography.tsx
  services/design-system/src/components/Mui/index.ts
  services/design-system/src/components/Mui/index.tsx
  services/design-system/src/components/Spinner/Spinner.tsx
  services/design-system/src/components/TextField/TextField.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: export issue
  services/design-system/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: ds lint (#747)
  services/design-system/src/main.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: cdk synth for design system
  .vscode/settings.json
  platform/rigs/base-nodejs/profiles/react-app/tsconfig-base.json
  services/design-system/.storybook/main.d.ts
  services/design-system/.storybook/main.js
  services/design-system/bin/app.ts
  services/design-system/cdk.json
  services/design-system/tsconfig.json
Due: prettier --write, eslint --format visualstudio--fix

chore: bump changelog
  common/changes/@cats-cradle/base-nodejs/feature-commonjs-sb_2023-12-12-03-15.json
  common/changes/@cats-cradle/design-system/feature-commonjs-sb_2023-12-12-03-15.json
Due: prettier --write

feat: storybook scss preview
  services/design-system/.storybook/preview.ts
  services/design-system/README.md
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/PageFooter/style.module.scss
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/styles/index.scss
Due: prettier --write, eslint --format visualstudio--fix

feat: storybook preview scss (#749)
  services/design-system/.storybook/preview.ts
  services/design-system/README.md
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/PageFooter/style.module.scss
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/styles/index.scss
Due: prettier --write, eslint --format visualstudio--fix

feat: unique s3
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/styles/index.scss
  services/design-system/stacks/design-system.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: unquie design system s3 bucket name (#750)
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/styles/index.scss
  services/design-system/stacks/design-system.stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in cards
  services/design-system/src/components/Card/BasicCard.tsx
  services/design-system/src/components/ColorPallette/index.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/main.ts
  services/design-system/src/styles/index.scss
  services/design-system/src/styles/utils/_bg-color.scss
  services/design-system/src/styles/utils/_color-pallette.scss
  services/design-system/stories/components/atoms/Typography.stories.tsx
  services/design-system/stories/components/molecules/Card.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

fix: design system typography prop dep
  services/admin-client/components/Layout.tsx
  services/design-system/stories/components/molecules/Card.stories.tsx
Due: none

feat: flesh in cards (#751)
  services/admin-client/components/Layout.tsx
  services/design-system/src/components/Card/BasicCard.tsx
  services/design-system/src/components/ColorPallette/index.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/main.ts
  services/design-system/src/styles/index.scss
  services/design-system/src/styles/utils/_bg-color.scss
  services/design-system/src/styles/utils/_color-pallette.scss
  services/design-system/stories/components/atoms/Typography.stories.tsx
  services/design-system/stories/components/molecules/Card.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: add card props
  services/design-system/src/components/Card/BasicCard.tsx
  services/design-system/stories/components/molecules/Card.stories.tsx
Due: none

feat: add card props (#752)
  services/design-system/src/components/Card/BasicCard.tsx
  services/design-system/stories/components/molecules/Card.stories.tsx
Due: none

feat: flesh in page design
  services/design-system/src/components/AppBar/style.module.scss
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/LoadingButton.tsx
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/components/Card/BasicCard.tsx
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/main.ts
  services/design-system/src/styles/index.scss
  services/design-system/src/styles/utils/_bg-color.scss
  services/design-system/src/styles/utils/_color-pallette.scss
  services/design-system/stories/components/molecules/AppBar.stories.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
  services/design-system/stories/components/molecules/LoadingButton.stories.tsx
  services/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

fix: button props
  services/admin-client/components/DiceAnalyzer.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
Due: none

feat: flesh in page design (#754)
  services/admin-client/components/DiceAnalyzer.tsx
  services/design-system/src/components/AppBar/style.module.scss
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/LoadingButton.tsx
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/components/Card/BasicCard.tsx
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/src/main.ts
  services/design-system/src/styles/index.scss
  services/design-system/src/styles/utils/_bg-color.scss
  services/design-system/src/styles/utils/_color-pallette.scss
  services/design-system/stories/components/molecules/AppBar.stories.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
  services/design-system/stories/components/molecules/LoadingButton.stories.tsx
  services/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh in social bar
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  services/design-system/src/components/SocialMediaBar/style.module.scss
Due: none

feat: flesh in social bar (#755)
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  services/design-system/src/components/SocialMediaBar/style.module.scss
Due: none

feat: flesh in footer
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/PageFooter/style.module.scss
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  services/design-system/src/components/SocialMediaBar/style.module.scss
  services/design-system/src/styles/index.scss
Due: none

fix: sass syntax
  services/design-system/src/components/SocialMediaBar/style.module.scss
Due: none

feat: flesh in social bar (#756)
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/PageFooter/style.module.scss
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  services/design-system/src/components/SocialMediaBar/style.module.scss
  services/design-system/src/styles/index.scss
Due: none

feat: add schrodinger cat reference
  services/character-sheet/src/data/archetype.ts
  services/dialogue-service/public/en/places/schrödinger-box.md
Due: prettier --write, eslint --format visualstudio--fix

fix: denote possession
  services/dialogue-service/public/en/places/schrödinger-box.md
Due: prettier --write

feat: add schrodinger cat reference (#757)
  services/character-sheet/src/data/archetype.ts
  services/dialogue-service/public/en/places/schrödinger-box.md
Due: prettier --write, eslint --format visualstudio--fix

feat: add analytics
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/rigs/base-nodejs/profiles/react-app/jest.config.json
  services/design-system/__mocks__/scss-transformer.js
  services/design-system/jest.config.json
  services/design-system/package.json
  services/design-system/src/components/Button/Button.test.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Checkbox/Checkbox.test.tsx
  services/design-system/src/components/Checkbox/Checkbox.tsx
  services/design-system/src/components/Link/Link.test.tsx
  services/design-system/src/components/Link/Link.tsx
  services/design-system/src/components/Link/style.module.scss
  services/design-system/src/components/TextField/TextField.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/index.ts
  services/design-system/src/main.ts
  services/design-system/src/types/SelectChangeEvent.ts
  services/design-system/src/types/index.ts
  services/design-system/src/utils/Analytics.test.tsx
  services/design-system/src/utils/Analytics.ts
  services/design-system/src/utils/index.ts
  services/design-system/stacks/__snapshots__/design-system.stack.test.ts.snap
  services/design-system/stories/components/atoms/Checkbox.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

fix: readme glyphs
  README.md
Due: prettier --write

fix: import on scss
  services/design-system/src/components/Link/Link.tsx
Due: none

fix: readme glyphs (#759)
  README.md
Due: prettier --write

fix: skip build test
  services/design-system/stacks/design-system.stack.test.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: clean up imports
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Checkbox/Checkbox.tsx
Due: none

fix: comment location
  services/design-system/src/utils/Analytics.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add analytics strawman (#758)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/rigs/base-nodejs/profiles/react-app/jest.config.json
  services/design-system/__mocks__/scss-transformer.js
  services/design-system/jest.config.json
  services/design-system/package.json
  services/design-system/src/components/Button/Button.test.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Checkbox/Checkbox.test.tsx
  services/design-system/src/components/Checkbox/Checkbox.tsx
  services/design-system/src/components/Link/Link.test.tsx
  services/design-system/src/components/Link/Link.tsx
  services/design-system/src/components/Link/style.module.scss
  services/design-system/src/components/TextField/TextField.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/index.ts
  services/design-system/src/main.ts
  services/design-system/src/types/SelectChangeEvent.ts
  services/design-system/src/types/index.ts
  services/design-system/src/utils/Analytics.test.tsx
  services/design-system/src/utils/Analytics.ts
  services/design-system/src/utils/index.ts
  services/design-system/stacks/__snapshots__/design-system.stack.test.ts.snap
  services/design-system/stacks/design-system.stack.test.ts
  services/design-system/stories/components/atoms/Checkbox.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
