Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

feat: separate mongo runners
  .github/workflows/call-coverage.yml
  rush.json
  services/character-sheet/globalConfig.json
Due: prettier --write

fix: upgrade mongoose from 6.9.1 to 6.12.1
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade dotenv from 16.0.3 to 16.3.1
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade @types/validator from 13.7.17 to 13.11.5
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade @nestjs/config from 2.2.0 to 2.3.4
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade rimraf from 4.1.4 to 4.4.1
  libraries/nestjs-modules/package.json
Due: prettier --write

fix: upgrade @types/validator from 13.7.17 to 13.11.5
  libraries/messaging-schemas/package.json
Due: prettier --write

fix: upgrade @nestjs/testing from 9.2.1 to 9.4.3
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade @nestjs/terminus from 9.1.1 to 9.2.2
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade class-validator from 0.13.2 to 0.14.0
  services/luck-by-dice/package.json
Due: prettier --write

fix: upgrade @nestjs/terminus from 9.1.1 to 9.2.2
  services/character-sheet/package.json
Due: prettier --write

fix: upgrade @nestjs/config from 2.2.0 to 2.3.4
  services/character-sheet/package.json
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  services/character-sheet/package.json
Due: prettier --write

fix: upgrade @nestjs/mongoose from 9.2.1 to 9.2.2
  services/character-sheet/package.json
Due: prettier --write

fix(ci): update tags in workflow
  .github/workflows/call-coverage.yml
  commitlint.config.js
Due: none

feat: separate mongo runners (#692)
  .github/workflows/call-coverage.yml
  commitlint.config.js
  rush.json
  services/character-sheet/globalConfig.json
Due: prettier --write

feat: increase coverage
  rush.json
  services/character-sheet/globalConfig.json
  services/dialogue-service/public/en/acts/1_cradle/dialogues/rice-and-chicken-again.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/vachel.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/vallons-farewell.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/vallons-farewell.md
  services/email-service/jest-mongodb-config.js
  services/email-service/jest.config.json
  services/email-service/src/modules/email-message/email-message.e2e-spec.ts
  services/instances/package.json
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: increase coverage (#707)
  rush.json
  services/character-sheet/globalConfig.json
  services/dialogue-service/public/en/acts/1_cradle/dialogues/rice-and-chicken-again.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/vachel.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/vallons-farewell.ink
  services/dialogue-service/public/en/acts/1_cradle/dialogues/vallons-farewell.md
  services/email-service/jest-mongodb-config.js
  services/email-service/jest.config.json
  services/email-service/src/modules/email-message/email-message.e2e-spec.ts
  services/instances/package.json
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: flaky unit test
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

wip: switch to _id
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: flaky unit test (#708)
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: ssg output
  .gitignore
  services/admin-client/next.config.js
  services/admin-client/pages/weather.tsx
Due: none

feat: ssg output for admin client (#709)
  .gitignore
  services/admin-client/next.config.js
  services/admin-client/pages/weather.tsx
Due: none

feat(platform): add git rm branches rush command
  common/config/rush/command-line.json
Due: prettier --write

feat(platform): add git rm branches rush command (#710)
  common/config/rush/command-line.json
Due: prettier --write

feat(test): add dice analyzer test coverage
  .vscode/settings.json
  commitlint.config.js
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/nestjs-modules/src/utils/index.ts
  libraries/nestjs-modules/src/utils/sleep.ts
  services/admin-client/__tests__/DiceAnalyzer.test.tsx
  services/admin-client/components/DiceAnalyzer.tsx
  services/admin-client/package.json
  services/admin-client/pages/dice.tsx
  services/design-system/src/Mui/Alert.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/stories/pages/molecules/Alert.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat(test): add dice analyzer test coverage (#712)
  .vscode/settings.json
  commitlint.config.js
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/nestjs-modules/src/utils/index.ts
  libraries/nestjs-modules/src/utils/sleep.ts
  services/admin-client/__tests__/DiceAnalyzer.test.tsx
  services/admin-client/components/DiceAnalyzer.tsx
  services/admin-client/package.json
  services/admin-client/pages/dice.tsx
  services/design-system/src/Mui/Alert.tsx
  services/design-system/src/Mui/index.tsx
  services/design-system/stories/pages/molecules/Alert.stories.tsx
Due: prettier --write, eslint --format visualstudio--fix

feat: add snapshot test
  services/admin-client/__tests__/DiceAnalyzer.test.tsx
  services/admin-client/__tests__/__snapshots__/DiceAnalyzer.test.tsx.snap
  services/admin-client/components/DiceAnalyzer.tsx
Due: none

feat(test): dice analyzer test cov (#713)
  services/admin-client/__tests__/DiceAnalyzer.test.tsx
  services/admin-client/__tests__/__snapshots__/DiceAnalyzer.test.tsx.snap
  services/admin-client/components/DiceAnalyzer.tsx
Due: none

Update create.dto.ts
  services/instances/src/module/instances/create.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat(test): increase test cov
  common/scripts/dotenv/setup.sh
  services/admin-client/components/DiceAnalyzer.tsx
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/design-system/src/Mui/Button.tsx
  services/design-system/stories/pages/atoms/ColorPallette.stories.tsx
  services/developer-portal/README.md
  services/developer-portal/src/get-service-specs.ts.md
  services/developer-portal/src/get-services.ts.md
  services/email-service/src/modules/email-message/email-message.e2e-spec.ts
  services/instances/src/module/instances/instance.controller.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/weather-control/openapi-spec.json
  services/weather-control/src/module/weather/weather.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: increase cov (#715)
  common/scripts/dotenv/setup.sh
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/design-system/src/Mui/Button.tsx
  services/design-system/stories/pages/atoms/ColorPallette.stories.tsx
  services/developer-portal/README.md
  services/developer-portal/src/get-service-specs.ts.md
  services/developer-portal/src/get-services.ts.md
  services/email-service/src/modules/email-message/email-message.e2e-spec.ts
  services/instances/src/module/instances/instance.controller.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/weather-control/openapi-spec.json
  services/weather-control/src/module/weather/weather.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add ht to instance-service
  services/instances/README.md
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/time-keeper/README.md
Due: prettier --write, eslint --format visualstudio--fix

feat: add get hadean time function
  services/instances/src/models/get-hadean-time.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add ht to instance-service (#716)
  services/instances/README.md
  services/instances/src/models/get-hadean-time.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
  services/time-keeper/README.md
Due: prettier --write, eslint --format visualstudio--fix

feat: hadean time calculation
  services/instances/globalConfig.json
  services/instances/src/models/get-hadean-time.test.ts
  services/instances/src/models/get-hadean-time.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: hadean time calculation
  services/instances/src/models/get-hadean-time.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: hadean time calc (#719)
  services/instances/globalConfig.json
  services/instances/src/models/get-hadean-time.test.ts
  services/instances/src/models/get-hadean-time.ts
  services/instances/src/models/instance.schema.ts
  services/instances/src/module/instances/instance.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: flesh and save and load patterns
  services/acheivements/README.md
  services/object-state-management/README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
