Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

feat: add intro paragraph
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: add intro paragraph (#760)
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/Typography/Typography.tsx
  services/design-system/src/components/Typography/style.module.scss
  services/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: add note about vecrel and nextjs avoidance
  platform/README.md
Due: prettier --write

fix: remove test
  services/admin-client/src/components/DiceAnalyzer.test.tsx
Due: none

fix: disable test
  services/admin-client/src/components/DiceAnalyzer.test.tsx.disabled
Due: none

fix: remove unit test
  services/admin-client/package.json
Due: prettier --write

feat: bs5 grid system
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/design-system/package.json
  services/design-system/public/hxtree.png
  services/design-system/public/vite.svg
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/components/AppBar/style.module.scss
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/PageFooter/style.module.scss
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  services/design-system/src/components/SocialMediaBar/style.module.scss
  services/design-system/src/styles/index.scss
Due: prettier --write

fix: design system build
  services/admin-client/src/components/Header.tsx
  services/admin-client/src/components/Layout.tsx
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/styles/index.scss
  services/design-system/stories/pages/Homepage.stories.tsx
Due: none

feat: bs5 grid system (#762)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/src/components/Header.tsx
  services/admin-client/src/components/Layout.tsx
  services/design-system/package.json
  services/design-system/public/hxtree.png
  services/design-system/public/vite.svg
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/components/AppBar/style.module.scss
  services/design-system/src/components/PageFooter/PageFooter.tsx
  services/design-system/src/components/PageFooter/style.module.scss
  services/design-system/src/components/SocialMediaBar/SocialMediaBar.tsx
  services/design-system/src/components/SocialMediaBar/style.module.scss
  services/design-system/src/styles/index.scss
  services/design-system/stories/pages/Homepage.stories.tsx
Due: prettier --write

feat: flesh in button args
  services/design-system/src/components/Button/Button.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
Due: none

feat: add href to button
  services/admin-client/src/components/Header.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
Due: none

feat: flesh in button args (#763)
  services/admin-client/src/components/Header.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
Due: none

feat: fix app bar with react router
  services/admin-client/src/components/Header.tsx
  services/admin-client/src/pages/archetypes.page.tsx
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/components/AppBar/style.scss
  services/design-system/src/styles/index.scss
Due: none

feat: fix app bar with react router (#764)
  services/admin-client/src/components/Header.tsx
  services/admin-client/src/pages/archetypes.page.tsx
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/components/AppBar/style.scss
  services/design-system/src/styles/index.scss
Due: none

feat: bootstrap in build
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/src/App.tsx
  services/admin-client/src/components/DiceAnalyzer.tsx
  services/admin-client/src/components/Header.tsx
  services/admin-client/src/routing/Router.tsx
  services/design-system/package.json
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/index.scss
  services/design-system/src/styles/index.scss
  services/design-system/vite.config.ts
Due: prettier --write, eslint --format visualstudio--fix

Feature/react dom router app bar (#765)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/admin-client/src/App.tsx
  services/admin-client/src/components/DiceAnalyzer.tsx
  services/admin-client/src/components/Header.tsx
  services/admin-client/src/routing/Router.tsx
  services/design-system/package.json
  services/design-system/src/components/AppBar/AppBar.tsx
  services/design-system/src/index.scss
  services/design-system/src/styles/index.scss
  services/design-system/vite.config.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: design system cdk:synth regressi on bug
  services/design-system/.storybook/preview-head.html
  services/design-system/.storybook/preview.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: update dep
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  services/admin-client/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/design-system/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write

fix: mismatch dep
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/billing-system/package.json
Due: prettier --write

fix: design system cdk:synth and update deps (#766)
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/faker-factory/package.json
  libraries/messaging-schemas/package.json
  libraries/nestjs-modules/package.json
  libraries/pseudo-random/package.json
  libraries/validation-schemas/package.json
  platform/api-gateway/package.json
  platform/cli-tools/create-artifact/package.json
  platform/cli-tools/create-artifact/src/__tests__/test-data/package-output.json
  platform/cli-tools/create-bundle/package.json
  platform/cli-tools/rush-coverage/package.json
  platform/constructs/package.json
  platform/lambda-layers/package.json
  platform/message-bus/package.json
  platform/pipeline/package.json
  services/admin-client/package.json
  services/authentication-service/package.json
  services/billing-system/package.json
  services/character-sheet/package.json
  services/design-system/.storybook/preview-head.html
  services/design-system/.storybook/preview.ts
  services/design-system/package.json
  services/email-service/package.json
  services/graphql/package.json
  services/html-to-pdf/package.json
  services/instances/package.json
  services/jukebox/package.json
  services/luck-by-dice/package.json
  services/player-achievements/package.json
  services/weather-control/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: add disable clear button
  services/admin-client/src/components/DiceAnalyzer.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/style.module.scss
Due: none

feat: move clear
  services/admin-client/src/components/DiceAnalyzer.tsx
Due: none

Feature/add disable button (#767)
  services/admin-client/src/components/DiceAnalyzer.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/style.module.scss
Due: none

feat: update readme
  README.md
Due: prettier --write

feat: update readme (#769)
  README.md
Due: prettier --write

feat: update pictures
  README.md
  docs/flow-chart-dark.drawio.svg
  docs/flow-chart-light.drawio.svg
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
Due: prettier --write

feat: update pictures (#771)
  README.md
  docs/flow-chart-dark.drawio.svg
  docs/flow-chart-light.drawio.svg
  docs/flow-chart.drawio
  docs/flow-chart.drawio.svg
Due: prettier --write

feat: add archetype data to client
  clients/admin-client/src/components/ArchetypeSelect.tsx
Due: none

fix: types on design system
  clients/admin-client/src/components/ArchetypeSelect.tsx
Due: none

feat: add archetype data to client (#773)
  clients/admin-client/src/components/ArchetypeSelect.tsx
Due: none

feat: add character sheet page
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/routing/Router.tsx
Due: none

feat: add character sheet page (#774)
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/routing/Router.tsx
Due: none

feat: switch to bs spinner
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Spinner/Spinner.tsx
  services/design-system/src/index.scss
  services/design-system/stories/components/molecules/Spinner.stories.tsx
Due: none

feat: add character sheet page (#775)
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Spinner/Spinner.tsx
  services/design-system/src/index.scss
  services/design-system/stories/components/molecules/Spinner.stories.tsx
Due: none

feat: add charater sheet admin client
  clients/admin-client/src/components/ArchetypeSelect.tsx
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/pages/archetypes.page.tsx
  clients/admin-client/src/pages/character-sheets.page.tsx
  clients/admin-client/src/pages/dice.page.tsx
  clients/admin-client/src/pages/home.page.tsx
  clients/admin-client/src/routing/Router.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Spinner/Spinner.tsx
  services/design-system/src/index.scss
  services/design-system/stories/components/molecules/Spinner.stories.tsx
Due: none

feat: react router breadcrumbs
  clients/admin-client/src/App.tsx
  clients/admin-client/src/components/Breadcrumbs.tsx
  clients/admin-client/src/components/DiceAnalyzer.tsx
  clients/admin-client/src/components/Header.tsx
  clients/admin-client/src/components/useBreadcrumbs.tsx
  clients/admin-client/src/routing/Router.tsx
  services/design-system/src/components/Button/Button.tsx
  services/design-system/src/components/Button/style.module.scss
  services/design-system/src/components/Spinner/Spinner.tsx
  services/design-system/stories/components/molecules/Button.stories.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --format visualstudio--fix: any of: *.ts
