Repository hxtree/galaxyops: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --format visualstudio--fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --format visualstudio--fix"],
  "*.{json,md}": "prettier --write"
}

feat: add affiliation endpoints (#436)
  services/character-sheet/src/data/affiliations.ts
  services/character-sheet/src/models/affiliation-embeddable.schema.ts
  services/character-sheet/src/models/character-sheet.schema.ts
  services/character-sheet/src/modules/affilation/affiliation.controller.ts
  services/character-sheet/src/modules/affilation/affiliation.e2e-spec.ts
  services/character-sheet/src/modules/affilation/affiliation.module.ts
  services/character-sheet/src/modules/affilation/affiliation.service.ts
  services/character-sheet/src/modules/affilation/query-affiliation.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add affiliation endpoint
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/app.module.ts
  services/character-sheet/src/database.module.ts
  services/character-sheet/src/modules/affilation/affiliation.controller.ts
  services/character-sheet/src/modules/affiliation/affiliation.controller.ts
  services/character-sheet/src/modules/affiliation/affiliation.e2e-spec.ts
  services/character-sheet/src/modules/affiliation/affiliation.module.ts
  services/character-sheet/src/modules/affiliation/affiliation.service.ts
  services/character-sheet/src/modules/affiliation/query-affiliation.dto.ts
  services/character-sheet/src/modules/affiliation/update-affiliation.dto.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.module.ts
  services/character-sheet/src/modules/npc/npc.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add affiliation endpoint (#437)
  services/character-sheet/openapi-spec.json
  services/character-sheet/src/app.module.ts
  services/character-sheet/src/database.module.ts
  services/character-sheet/src/modules/affilation/affiliation.controller.ts
  services/character-sheet/src/modules/affiliation/affiliation.controller.ts
  services/character-sheet/src/modules/affiliation/affiliation.e2e-spec.ts
  services/character-sheet/src/modules/affiliation/affiliation.module.ts
  services/character-sheet/src/modules/affiliation/affiliation.service.ts
  services/character-sheet/src/modules/affiliation/query-affiliation.dto.ts
  services/character-sheet/src/modules/affiliation/update-affiliation.dto.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.e2e-spec.ts
  services/character-sheet/src/modules/character-sheet/character-sheet.module.ts
  services/character-sheet/src/modules/npc/npc.module.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: update readme content
  README.md
  services/dialogue-service/README.md
  services/dialogue-service/public/en/acts/3_candles/README.md
  services/time-keeper/README.md
Due: prettier --write

feat: update readme content (#438)
  README.md
  services/dialogue-service/README.md
  services/dialogue-service/public/en/acts/3_candles/README.md
  services/time-keeper/README.md
Due: prettier --write

feat: add lambda layer for chromium
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/constructs/src/microservice/microservice.ts
  platform/constructs/src/nestjs/nestjs.ts
  platform/lambda-layers/stacks/lambda-layer-stack.ts
  rush.json
  services/html-to-pdf/bin/app.ts
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/src/module/pdf/url-to-data.dto.ts
  services/html-to-pdf/stacks/html-to-pdf-stack.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: echange pdf versioning to header
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundlers/src/profiles/nestjs-bundler.ts
  services/html-to-pdf/package.json
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/main.ts
  services/html-to-pdf/src/module/health/health.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  common/changes/@cats-cradle/api-client-luck-by-dice/feature-update-pkgs_2023-10-04-03-43.json
  libraries/api-client-luck-by-dice/CHANGELOG.json
  libraries/api-client-luck-by-dice/CHANGELOG.md
  libraries/api-client-luck-by-dice/package.json
  platform/bundlers/CHANGELOG.json
  platform/bundlers/CHANGELOG.md
  platform/bundlers/package.json
  platform/constructs/CHANGELOG.json
  platform/constructs/CHANGELOG.md
  platform/constructs/package.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write

feat: html to pdf lambda layer progress (#439)
  common/changes/@cats-cradle/api-client-luck-by-dice/feature-update-pkgs_2023-10-04-03-43.json
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  libraries/api-client-luck-by-dice/CHANGELOG.json
  libraries/api-client-luck-by-dice/CHANGELOG.md
  libraries/api-client-luck-by-dice/package.json
  platform/bundlers/CHANGELOG.json
  platform/bundlers/CHANGELOG.md
  platform/bundlers/package.json
  platform/bundlers/src/profiles/nestjs-bundler.ts
  platform/constructs/CHANGELOG.json
  platform/constructs/CHANGELOG.md
  platform/constructs/package.json
  platform/constructs/src/microservice/microservice.ts
  platform/constructs/src/nestjs/nestjs.ts
  platform/lambda-layers/stacks/lambda-layer-stack.ts
  rush.json
  services/authentication-service/CHANGELOG.json
  services/authentication-service/CHANGELOG.md
  services/authentication-service/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/bin/app.ts
  services/html-to-pdf/package.json
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/main.ts
  services/html-to-pdf/src/module/health/health.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/src/module/pdf/url-to-data.dto.ts
  services/html-to-pdf/stacks/html-to-pdf-stack.ts
  services/html-to-pdf/stacks/main-stack.ts
  services/luck-by-dice/CHANGELOG.json
  services/luck-by-dice/CHANGELOG.md
  services/luck-by-dice/package.json
Due: prettier --write, eslint --format visualstudio--fix

feat: rm chrome submodule
  platform/lambda-layers/stacks/lambda-layer-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: rm chrome submodule (#440)
  platform/lambda-layers/stacks/lambda-layer-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: small changes to readme.
  README.md
Due: prettier --write

feat: get html to pdf working in lambda
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundlers/src/profiles/nestjs-bundler.ts
  platform/constructs/src/api-endpoint/api-endpoint.ts
  platform/constructs/src/microservice/microservice.ts
  platform/constructs/src/nestjs/nestjs.ts
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: get html to pdf working in lambda (#443)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  platform/bundlers/src/profiles/nestjs-bundler.ts
  platform/constructs/src/api-endpoint/api-endpoint.ts
  platform/constructs/src/microservice/microservice.ts
  platform/constructs/src/nestjs/nestjs.ts
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
  services/html-to-pdf/src/index.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: small changes to readme. (#442)
  README.md
Due: prettier --write

feat: download chromium
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/html-to-pdf/bin/app.ts
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/download-lambda-layer.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: download chromium (#444)
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  services/html-to-pdf/bin/app.ts
  services/html-to-pdf/package.json
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/stacks/download-lambda-layer.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: add is validator
  libraries/validation-schemas/src/custom/is-dice-notaiton.test.ts
  libraries/validation-schemas/src/custom/is-filename.test.ts
  libraries/validation-schemas/src/custom/is-filename.ts
  libraries/validation-schemas/src/custom/is-money.test.ts
  libraries/validation-schemas/src/custom/is-uuidv4.test.ts
  libraries/validation-schemas/src/index.ts
  services/html-to-pdf/src/module/pdf/create-html-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/create-url-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/url-to-data.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: eslint issues
  libraries/validation-schemas/.eslintrc.js
  libraries/validation-schemas/src/custom/is-filename.test.ts
  libraries/validation-schemas/src/custom/is-filename.ts
Due: prettier --write, eslint --format visualstudio--fix

chore: bump versions
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
Due: prettier --write

feat: add new commit scope library
  commitlint.config.js
Due: none

feat(library): add is filename validator (#445)
  commitlint.config.js
  libraries/validation-schemas/.eslintrc.js
  libraries/validation-schemas/CHANGELOG.json
  libraries/validation-schemas/CHANGELOG.md
  libraries/validation-schemas/package.json
  libraries/validation-schemas/src/custom/is-dice-notaiton.test.ts
  libraries/validation-schemas/src/custom/is-filename.test.ts
  libraries/validation-schemas/src/custom/is-filename.ts
  libraries/validation-schemas/src/custom/is-money.test.ts
  libraries/validation-schemas/src/custom/is-uuidv4.test.ts
  libraries/validation-schemas/src/index.ts
  services/email-service/CHANGELOG.json
  services/email-service/CHANGELOG.md
  services/email-service/package.json
  services/html-to-pdf/src/module/pdf/create-html-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/create-url-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/url-to-data.dto.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: html-to-pdf pragmatic api
  services/html-to-pdf/README.md
  services/html-to-pdf/example.png
  services/html-to-pdf/src/module/pdf/create-html-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/create-url-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/operation.dto.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/src/module/pdf/url-to-data.dto.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove dead code
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: refactor html response
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove helper function in controller
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove dead code
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: html-to-pdf pragmatic api (#446)
  services/html-to-pdf/README.md
  services/html-to-pdf/example.png
  services/html-to-pdf/src/module/pdf/create-html-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/create-url-to-pdf.dto.ts
  services/html-to-pdf/src/module/pdf/operation.dto.ts
  services/html-to-pdf/src/module/pdf/pdf.controller.ts
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
  services/html-to-pdf/src/module/pdf/pdf.service.ts
  services/html-to-pdf/src/module/pdf/url-to-data.dto.ts
  services/html-to-pdf/stacks/main-stack.ts
Due: prettier --write, eslint --format visualstudio--fix

fix: remove dead code (#448)
  services/html-to-pdf/src/module/pdf/pdf.e2e-spec.ts
Due: prettier --write, eslint --format visualstudio--fix

feat: make HTMLtoPDF service open source
  rush.json
  services/html-to-pdf/LICENSE
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
Due: prettier --write

feat: make HTMLtoPDF service open source (#449)
  rush.json
  services/html-to-pdf/LICENSE
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
Due: prettier --write

feat: add repo info to html to pdf package.json
  README.md
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
Due: prettier --write

chore: bump changelog
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/package.json
Due: prettier --write

fix: indendation on bash cmd
  services/html-to-pdf/README.md
Due: prettier --write

feat: add repo info to html to pdf (#450)
  README.md
  services/html-to-pdf/CHANGELOG.json
  services/html-to-pdf/CHANGELOG.md
  services/html-to-pdf/README.md
  services/html-to-pdf/package.json
Due: prettier --write

feat: add releases workflow
  .github/workflows/call-release.yml
Due: none

feat: add releases workflow (#452)
  .github/workflows/call-release.yml
Due: none

fix: github action failed cmd not found
  .github/workflows/call-release.yml
Due: none
